<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for slide in video_data %}
    <button
      class="swiper-slide compete__video-btn tab-element-page"
      data-embed="{{ slide.embed }}"
      aria-label="Play video: {{ slide.title }} - {{ slide.sub_title }}"
      aria-controls="video-player"
    >
      <img
        class="poster"
        src="{{ slide.poster }}"
        alt=""
        aria-hidden="true"
        class=""
        width="250"
        height="500"
      />
      <div class="caption">
        <h2>{{ slide.title }}</h2>
        <h3>{{ slide.sub_title }}</h3>
      </div>
      {% if video_carousel.play_icon %}
      <img class="play-icon" src="{{ video_carousel.play_icon }}" alt="" />
      {% endif %}
    </button>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>
