@keyframes fade-in {
  to {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes nav-btn {
  to {
    translate: -50% 0;
  }
}

@keyframes video-cta-icon__1 {
  0% {
    translate: -160% -50%;
  }
  80% {
    translate: -160% -50%;
  }
  100% {
    translate: -50% -50%;
  }
}

@keyframes video-cta-icon__2 {
  0% {
    translate: -50% -50%;
  }
  80% {
    translate: -50% -50%;
  }
  100% {
    translate: 100% -50%;
  }
}

@keyframes video-icon__1 {
  0% {
    translate: calc(-100% - 1ch) 0;
  }
  25% {
    translate: 0 0;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes video-icon__2 {
  0% {
    translate: 0 0;
  }
  25% {
    translate: calc(100% + 1ch) 0;
  }
  100% {
    translate: calc(100% + 1ch) 0;
  }
}

@keyframes popup-text {
  to {
    translate: 0 0;
  }
}
@keyframes popup-text--loader {
  0% {
    translate: 0 100%;
  }
  25% {
    translate: 0 0;
  }
  50% {
    translate: 0 0;
  }
  75% {
    translate: 0 0;
  }
  100% {
    translate: 0 -100%;
  }
}
