* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background-color: var(--background-color);

  // Animations based on if the loader exists. Currently scoped to home page
  &.has-loader:has(.main-home) {
    .nav-btn {
      animation-delay: var(--loader-duration-after);
    }
    // .main-home {
    //   .hero-text {
    //     animation: fade-in 0.4s ease var(--loader-duration) + 0.4 forwards;
    //   }
    // }

    // Currently only set to the home page
    .page-loader {
      @include dark-theme;
      @include row-center;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100dvh;
      z-index: $z-index-loader;
      animation: fade-out 0.5s ease calc(var(--loader-duration) - 0.1s) forwards;

      &__text {
        @extend .h1;
        @include column-start;
        font-size: 8vw;
        line-height: 120%;

        @include mq-max("sm") {
          font-size: 10vw;
        }
      }
    }
  }

  // For pages with a footer, the last section has padding-bottom to make room for the translated footer
  &:has(.site-footer) {
    section:last-of-type {
      padding-block-end: calc(var(--footer-height) + 96px);
    }
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

p,
a,
figcaption,
blockquote,
input,
textarea {
  @include body-font-styles;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.site-header {
  // Not setting width/padding for click through.

  &__logo,
  &__cta-wrapper {
    position: absolute;
    top: var(--body-padding);

    @include mq-min("md") {
      translate: 0 -50%;
    }
  }

  &__logo {
    left: var(--body-padding);
    display: flex;
    width: 148px;
    z-index: $z-index-header;

    @include mq-max("sm") {
      margin-block-start: 12px;
      width: 96px;
    }

    &-image {
      display: block;
      transition: $nav-transition;
    }
  }

  &__cta-wrapper {
    display: flex; // Fixes strange hover issue
    right: var(--body-padding);
  }

  // Mainly set for home page. Check other instances
  &--fixed {
    @include mq-min("lg") {
      position: fixed;
      z-index: 1; // use variable?
    }

    .site-header__logo {
      @include mq-min("lg") {
        position: fixed;
      }
    }
    .site-header__cta-wrapper {
      position: fixed;
    }
  }

  &--nav-active {
    .site-header__logo-image,
    .cta {
      translate: $nav-translate;
    }
  }
}

.main-content,
.site-footer {
  transition: $nav-transition;

  &--nav-active {
    translate: $nav-translate;
  }
}

.site-footer {
  @include row-center(flex-end);
  margin: calc(var(--footer-height) * -1) auto 0;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding-inline-end: 64px;
  height: var(--footer-height);

  @media all {
    @include mq-min("xl") {
      width: 86%;
    }

    @include mq-max("lg") {
      padding-inline-end: 48px;
    }

    @include mq-max("sm") {
      align-items: flex-start;
      justify-content: center;
      padding: 36px 0;
    }
  }

  &--sunder-colors {
    background: linear-gradient(90deg, #000014 10%, #0c5ff2);
  }

  &--enzy-colors {
    box-shadow: -2px 0 4px rgba($sunder-midnight, 0.05);
    background: linear-gradient(90deg, rgba(191, 217, 208, 0) 10%, #6da894);

    @include mq-max("sm") {
      box-shadow: -1px 0 4px rgba($sunder-midnight, 0.1);
    }
  }
}

.nav-btn {
  --button-size: 64px;
  --line-width: 40%;
  --line-spacing: 6px;
  --line-transition-delay: 0.36s;
  --bottom-distance: 36px;

  @include row-center;
  gap: 4px;
  background: var(--hero-color--primary);
  position: fixed;
  bottom: var(--bottom-distance);
  left: 50%;
  translate: -50% 0; // animate this on load?
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  z-index: $z-index-nav-btn;
  animation: nav-btn 0.4s ease 1s forwards;

  @include mq-motion-allow {
    transition: 0.3s ease, background 0.32s ease 0.12s;
    translate: -50% 200%;
  }

  @include mq-max("sm") {
    --button-size: 56px;
    --line-width: 50%;
    --bottom-distance: 32px;
  }

  &:hover,
  &:focus-visible {
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }

  .line {
    @include absolute-center;
    background-color: var(--background-color);
    width: var(--line-width);
    height: 2px;
    border-radius: 4px;

    &-default {
      &-1 {
        translate: -50% calc(-50% - var(--line-spacing));
        transition: 0.3s ease var(--line-transition-delay);
      }
      &-2 {
        transition: 0.3s ease calc(var(--line-transition-delay) + 0.06s);
      }
      &-3 {
        translate: -50% calc(-50% + var(--line-spacing));
        transition: 0.3s ease calc(var(--line-transition-delay) + 0.12s);
      }
    }

    &-close {
      width: 0;
      transition: 0.3s ease 0s;

      &-1 {
        rotate: 45deg;
      }
      &-2 {
        rotate: -45deg;
      }
    }
  }

  &[aria-expanded="true"] {
    background: var(--font-color--primary);

    .line {
      &-default {
        width: 0;

        &-1 {
          transition: 0.3s ease 0s;
        }
        &-2 {
          transition: 0.3s ease 0.06s;
        }
        &-3 {
          transition: 0.3s ease 0.12s;
        }
      }

      &-close {
        width: var(--line-width);
        transition: 0.3s ease var(--line-transition-delay);
      }
    }
  }
}

.site-nav {
  @include column-center(flex-start);
  position: fixed;
  bottom: 0;
  background-color: var(--nav-background-color);
  width: 100vw;
  height: var(--nav-height);
  padding: calc(var(--body-padding) / 2);

  translate: 0 100%;
  transition: translate 0.5s ease;

  @include mq-touch {
    overflow-x: scroll;
  }

  .nav-slider {
    --initial-offset: 64px;

    display: flex;
    gap: 24px;
    width: fit-content;
    translate: calc(calc(-50vw - var(--initial-offset)) + 50%) 0; // Initial state. Overwritten on mouseover/swipe/focus
    padding-inline: 96px;

    @include mq-motion-allow {
      transition: translate 0.8s $cubic-ease;
    }

    @media (min-width: 2712px) {
      translate: 0 0;
    }

    @include mq-max("sm") {
      --initial-offset: 24px;

      padding-inline: 48px 12px;
      gap: 16px;
    }
  }

  .nav-link {
    overflow: hidden;

    @include non-mobile-hover {
      .nav-link__img {
        scale: 1.025;
        filter: brightness(1.2);
      }
    }

    picture {
      @include row-center;
      margin-block-start: 12px;
      border-radius: var(--radius);
      overflow: hidden;

      width: 148px;
      aspect-ratio: 1 / 1.4;

      @media all {
        @include mq-min("md") {
          width: 188px;
        }

        @include mq-min("lg") {
          width: 250px;
          aspect-ratio: 1.85 / 1;
        }

        @include mq-min("xl") {
          width: 320px;
        }

        @include mq-min("xxl") {
          width: 400px;
        }
      }
    }

    &__img {
      transition: 0.3s ease, scale 0.4s ease;
    }
  }

  &--active {
    translate: 0 0;
  }
}

.cta {
  @include btn-md;
  isolation: isolate; // enzy instance bg is overlapped
  position: relative;
  // border: 1px solid var(--background-color);
  border: 1px solid currentColor;
  border-radius: 48px;
  overflow: hidden;
  flex-shrink: 0;
  transition: border 0.3s ease 0.1s, color 0.3s ease, $nav-transition;

  &:hover {
    border-color: var(--hero-color--primary);

    div.hover-fill {
      width: 220%;
      height: 320%;
      opacity: 1;
      transition: width 0.4s ease, height 0.4s ease;
    }
  }

  &:focus-visible {
    border-color: var(--hero-color--primary);
    background-color: var(--hero-color--primary);

    transition: 0.2s ease;

    div.hover-fill {
      display: none;
    }
  }

  .hover-fill {
    @include mq-mouse {
      @include absolute-center;
      top: var(--mouse-x);
      left: var(--mouse-y);
      translate: -50% -50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      opacity: 0;
      background-color: var(--hero-color--primary);
      transform-origin: center;
      z-index: -1;
      transition: width 0.4s ease 0.2s, height 0.4s ease 0.2s, opacity 0.3s ease;
    }
  }

  &--lg {
    @include btn-lg;
  }

  &--dark {
    &:hover,
    &:focus-visible {
      color: var(--background-color);
    }
  }

  &--light {
    color: var(--background-color);

    &:hover,
    &:focus-visible {
      border-color: var(--background-color);
      color: var(--hero-color--primary);
    }

    &:focus-visible {
      background-color: var(--background-color);
    }

    .hover-fill {
      background: var(--background-color);
    }
  }

  &--video {
    @include btn-lg;
    border-color: var(--hero-color--primary);
    background: linear-gradient(90deg, #15499340, #4aabd040);
    display: inline-flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;

    @include mq-max("sm") {
      gap: 8px;
    }

    .icon-group {
      --icon-size: 1em;

      position: relative;
      width: var(--icon-size);
      height: var(--icon-size);
      overflow: hidden;
      flex-shrink: 0;

      @include mq-max("xl") {
        --icon-size: 1.25em;
        scale: 0.75;
      }

      .icon {
        @include absolute-center;
        width: 80%;
        height: 80%;
        background: currentColor;
        mask-image: url(../img/icons/play-solid.svg);
        // mask-image: url(../img/icon-play.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        padding: 12px;
      }

      .icon-1 {
        translate: -160% -50%;
        animation: video-cta-icon__1 3s ease infinite;
      }

      .icon-2 {
        translate: -50% -50%;
        animation: video-cta-icon__2 3s ease infinite;
      }
    }
  }

  &--enzy {
    background: linear-gradient(
      90deg,
      rgba(109, 168, 148, 0.3019607843),
      rgba(110, 168, 149, 0.4392156863)
    );
    color: var(--background-color);
    border-color: #6da894;

    @include mq-max("lg") {
      background: #92dcc1;
      border-color: #92dcc1;
    }
  }
}

.video-overlay {
  // Not using dialog because of top-layer (can't rest navBtn on top)
  @include row-center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba($sunder-midnight, 0.9);
  z-index: $z-index-video-overlay;

  @include mq-motion-allow {
    transition: opacity 0.3s ease;
  }

  iframe {
    width: auto;
    height: 50%;
    aspect-ratio: 2 / 1.125;

    @include mq-max("md") {
      width: 80%;
      height: auto;
    }
  }

  &--inactive {
    opacity: 0;
    pointer-events: none;
  }
}

.image-reel {
  --gap: 16px;

  display: flex;
  align-items: flex-start;
  gap: var(--gap);
  overflow: hidden;

  &__column {
    @include column-center;
    gap: var(--gap);
    flex: 1;

    img {
      border-radius: var(--radius);
      // See 'home.scss' for border radius on top and bottom images
    }
  }
}

.swiper {
  overflow: hidden;

  .swiper-wrapper {
    display: inline-flex;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .swiper-slide {
    position: relative;
    display: flex;
    border-radius: var(--radius);
    overflow: hidden;

    &:hover,
    &:focus-visible {
      .poster {
        filter: brightness(1.25);
        scale: 1.05;
      }
    }

    .poster {
      height: auto;

      transition: 0.3s ease, scale 0.4s ease;

      &:active {
        cursor: grabbing;
      }
    }

    .caption {
      @include column-start(flex-start);
      @include caption-gradient;
      position: absolute;
      // bottom: 0;
      top: 75%;
      left: 0;
      height: 25%;
      padding: 16px;

      @include mq-max("sm") {
        top: 72%;
        height: 28%;
        padding: 8px;
      }

      h2 {
        font-weight: 500;
        text-align: left;
        font-size: 1vw;
        margin-block-end: 0.5vw;

        @include mq-max("xl") {
          font-size: 1.4vw;
        }

        @include mq-max("md") {
          font-size: max(2.25vw, 12px); // a11y, don't drop below 12px
        }
      }

      h3 {
        font-weight: 500;
        font-size: 1.4vw;
        text-align: left;

        @include mq-max("xxl") {
          font-size: 1.5vw;
        }

        @include mq-max("xl") {
          font-size: 1.8vw;
        }

        @include mq-max("md") {
          font-size: max(2.85vw, 12px);
        }
      }
    }

    .play-icon {
      --icon-size: 40px;
      --icon-placement: 16px;

      position: absolute;
      top: var(--icon-placement);
      right: var(--icon-placement);
      width: var(--icon-size);
      height: var(--icon-size);
      filter: drop-shadow(0px 0px 2px rgba($sunder-midnight, 0.25));

      @include mq-max("xxl") {
        --icon-size: 32px;
        --icon-placement: 12px;
      }

      @include mq-max("sm") {
        --icon-size: 24px;
      }
    }
  }

  .swiper-pagination {
    @include row-center(flex-start);
    gap: 6px;
    padding-block: 12px;
    padding-inline: var(--body-padding);

    @include mq-max("sm") {
      justify-content: center;
    }

    &-bullet {
      border: 1px solid var(--hero-color--primary);
      background: transparent;
      padding: 8px;
      transition: 0.3s ease;
      opacity: 1;
      border-radius: 128px;
      cursor: pointer;

      &-active {
        background: var(--hero-color--primary);
      }
    }
  }
}
