* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-body;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

.main-content {
  height: 100vh;
  transition: 0.5s ease;

  &--nav-active {
    translate: 0 calc(var(--nav-height) * -1);
  }
}

.nav-btn {
  --button-size: 64px;
  --line-width: 40%;
  --line-spacing: 6px;
  --line-transition-delay: 0.32s;

  @include row-center;
  gap: 4px;
  background: var(--hero-color--primary);
  position: fixed;
  bottom: var(--body-padding);
  left: 50%;
  translate: -50% 0;
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  border-radius: 50%;
  z-index: 1;

  @include mq-motion-allow {
    transition: 0.3s ease, background 0.32s ease 0.12s;
  }
  @include mq-max("sm") {
    --button-size: 56px;
    bottom: 32px; // Make variable?
  }

  &:hover,
  &:focus-visible {
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }

  .line {
    @include absolute-center;
    background-color: var(--background-color);
    width: var(--line-width);
    height: 2px;
    border-radius: 4px;

    &-default {
      &-1 {
        translate: -50% calc(-50% - var(--line-spacing));
        transition: 0.3s ease var(--line-transition-delay);
      }
      &-2 {
        transition: 0.3s ease calc(var(--line-transition-delay) + 0.06s);
      }
      &-3 {
        translate: -50% calc(-50% + var(--line-spacing));
        transition: 0.3s ease calc(var(--line-transition-delay) + 0.12s);
      }
    }

    &-close {
      width: 0;
      transition: 0.3s ease 0s;

      &-1 {
        rotate: 45deg;
      }
      &-2 {
        rotate: -45deg;
      }
    }
  }

  &[aria-expanded="true"] {
    background: var(--font-color--primary);

    .line {
      &-default {
        width: 0;

        &-1 {
          transition: 0.3s ease 0s;
        }
        &-2 {
          transition: 0.3s ease 0.06s;
        }
        &-3 {
          transition: 0.3s ease 0.12s;
        }
      }

      &-close {
        width: var(--line-width);
        transition: 0.3s ease var(--line-transition-delay);
      }
    }
  }
}

.site-nav {
  position: fixed;
  bottom: 0;
  background-color: var(--nav-background-color);
  width: 100vw;
  height: var(--nav-height);

  translate: 0 100%;
  transition: 0.5s ease;

  .nav-slider {
    display: flex;
    gap: 24px;
    padding: 24px;
  }

  .nav-link {
    color: var(--font-color--primary);

    &__img {
      width: 400px;
      aspect-ratio: 2 / 1;
      object-fit: cover;
      border-radius: 4px; // make variable
      margin-block-start: 12px;
    }
  }

  &--active {
    translate: 0 0;
  }
}
