* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-body;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

.main-content {
  background-color: black;
  height: 100vh;
  transition: 0.5s ease;

  &--nav-active {
    translate: 0 calc(var(--nav-height) * -1);
  }
}

.nav-btn {
  --button-size: 64px;
  --line-offset: 6px;

  @include row-center;
  gap: 4px;
  background: var(--hero-color--primary);
  position: fixed;
  bottom: var(--body-padding);
  left: 50%;
  translate: -50% 0;
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  border-radius: 50%;
  z-index: 1;

  @include mq-motion-allow {
    transition: 0.3s ease;
  }
  @include mq-max("sm") {
    --button-size: 56px;
    bottom: 32px; // Make variable?
  }

  &:hover,
  &:focus-visible {
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }

  .line {
    @include absolute-center;
    background-color: white;
    width: 40%;
    height: 2px;
    border-radius: 4px;

    &-default {
      &-1 {
        translate: -50% calc(-50% - var(--line-offset));
      }
      &-3 {
        translate: -50% calc(-50% + var(--line-offset));
      }
    }
  }

  &[aria-expanded="true"] {
    background: var(--font-color--primary);
  }
}

.site-nav {
  position: fixed;
  bottom: 0;
  background-color: var(--nav-background-color);
  width: 100vw;
  height: var(--nav-height);

  translate: 0 100%;
  transition: 0.5s ease;

  &--active {
    translate: 0 0;
  }
}
