//
// Media Queries
//

$max-breakpoints: (
  "xs": 390px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1512px,
  "xxxl": 1920px,
);

@mixin mq-max($breakpoint) {
  $value: map-get($max-breakpoints, $breakpoint);
  @media screen and (max-width: $value) {
    @content;
  }
}

$min-breakpoints: (
  "xs": 391px,
  "sm": 481px,
  "md": 769px,
  "lg": 1025px,
  "xl": 1201px,
  "xxl": 1513px,
  "xxxl": 1921px,
);

@mixin mq-min($breakpoint) {
  $value: map-get($min-breakpoints, $breakpoint);
  @media screen and (min-width: $value) {
    @content;
  }
}

// Users that prefer dark theme
@mixin mq-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Users on tables and smart phones
@mixin mq-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// Users on computers and laptops
@mixin mq-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// Users that don't mind animations (motion)
@mixin mq-motion-allow {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// Users that are sensitive to motion. Use this to remove animations.
@mixin mq-motion-reduce {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

// Removes hover state on mobile. Covers hover/focus for desktop
@mixin desktop-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      @content;
    }
  }
}

//
// Heading Styles
//

@mixin heading($size, $size-xxl, $size-lg, $size-md, $size-sm) {
  font-family: var(--font-family-heading);
  font-size: $size;
  font-weight: 400;
  line-height: 1.1;

  @media all {
    @include mq-max("xxl") {
      font-size: $size-xxl;
    }

    @include mq-max("lg") {
      font-size: $size-lg;
    }

    @include mq-max("md") {
      font-size: $size-md;
    }

    @include mq-max("sm") {
      font-size: $size-sm;
    }
  }

  span {
    font-family: inherit;
  }
}

//
h1,
.h1 {
  @include heading(72px, 4.2vw, 6vw, 40px, 32px);
}

// Enzy Perk Title
@mixin h2 {
  @include heading(64px, 4.4vw, 4.4vw, 6.4vw, 32px);
}
h2,
.h2 {
  @include h2;
}

// Opportunity Quote Title
h3,
.h3 {
  @include heading(48px, 3vw, 3vw, 24px, 20px);
}

// Resources hero subtitle
@mixin h4 {
  @include heading(40px, 2.4vw, 2.8vw, 24px, 18px);
}
h4,
.h4 {
  @include h4;
}

// cta--lg
@mixin h5 {
  @include heading(32px, 1.6vw, 2.4vw, 20px, 16px);
  font-family: var(--font-family-body);
  line-height: 1;
}
h5,
.h5 {
  @include h5;
}

// Resources, team protraits caption
@mixin h6 {
  @include heading(20px, 1.4vw, 2.4vw, 20px, 16px);
  font-weight: 600;
}

h6,
.h6 {
  @include h6;
}

@mixin body-font-styles {
  color: var(--font-color--primary);
  font-family: var(--font-family-body);
  font-size: 20px;
  font-weight: 400;

  @include mq-max("xxl") {
    font-size: 18px;
  }

  @include mq-max("md") {
    font-size: 16px;
  }
}

@mixin btn-md {
  @include body-font-styles;
  padding: 0.5em 1.25em;
}

@mixin btn-lg {
  @include h5;
  padding: 0.75em 1.25em;

  @include mq-max("md") {
    height: 52px;
  }
}

//
// Theme
//

@mixin dark-theme {
  --background-color: #{$sunder-midnight};
  --font-color--primary: #{$sunder-snow};

  background: var(--background-color);

  * {
    color: var(--font-color--primary);
  }
}

@mixin caption-gradient {
  background: linear-gradient(transparent, $sunder-midnight);
  color: var(--background-color);
  width: 100%;

  * {
    color: currentColor;
  }
}

//
// Flex Layout
//

@mixin row-center($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin row-start($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin row-end($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin column-center($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: center;
}

@mixin column-start($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin column-end($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
