$font-family-heading: "Monument", sans-serif;
$font-family-body: "Satoshi", sans-serif;

$sunder-snow: #f7f7f7;
$sunder-ice: #c6d3d8;
$sunder-royal-light: #0c5ff2;
$sunder-royal: #074895;
$sunder-navy: #061a2a;
$sunder-midnight: #000014;
$enzy-hero: #6da894;

:root {
  --background-color: #{$sunder-snow};
  --font-color--primary: #{$sunder-midnight};
  --hero-color--primary: #{$sunder-royal-light};

  --body-padding: 48px;

  --nav-height: 420px;
  --nav-background-color: #{$sunder-ice};

  --border-radius: 12px;

  @media (max-width: 1512px) {
    --nav-height: 348px;

    --body-padding: 24px;
  }

  @media (max-width: 1200px) {
    --nav-height: 312px;
  }

  @media (max-width: 1024px) {
    --nav-height: 420px;

    --border-radius: 8px;
  }
}

// Site Scaffolding

$content-width: 1920px; // Likely won't use for this site
$body-padding-xxl: 40px; // remove or clean up
$body-padding-md: 24px; // remove or clean up

$z-index-header: 1;

// $vertical-section-padding: 196px;
// $horizontal-section-padding: 148px;

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

// Debugging

$test: 2px dashed rgba(crimson, 0.75);
$test-bg: rgba(navy, 0.75);
