@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;300;500;700;900&display=swap");
:root {
  --background-color: #f7f7f7;
  --font-color--primary: #000014;
  --body-padding: 64px;
  --nav-height: 420px;
  --nav-background-color: #c6d3d8;
}

.h1 {
  font-family: "Monument", sans-serif;
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h1 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 32px;
  }
}

.h2 {
  font-family: "Monument", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h2 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h2 {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  .h2 {
    font-size: 32px;
  }
}

.h3 {
  font-family: "Monument", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
@media screen and (max-width: 1512px) {
  .h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  .h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .h3 {
    font-size: 20px;
  }
}

.h4 {
  font-family: "Monument", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  .h4 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  .h4 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .h4 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 480px) {
  .h4 {
    font-size: 12px;
  }
}

.h5 {
  font-family: "Monument", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .h5 {
    font-size: 12px;
  }
}

.h6 {
  font-family: "Monument", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 1512px) {
  .h6 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .h6 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .h6 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .h6 {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

.main-content {
  transition: 0.5s ease;
}
.main-content--nav-active {
  translate: 0 calc(var(--nav-height) * -1);
}

.nav-btn {
  position: fixed;
  bottom: var(--body-padding);
  left: 50%;
  padding: 12px;
  z-index: 3;
}

.site-nav {
  position: fixed;
  bottom: 0;
  background-color: var(--nav-background-color);
  width: 100vw;
  height: var(--nav-height);
  translate: 0 100%;
  transition: 0.5s ease;
}
.site-nav--active {
  translate: 0 0;
}

.classic-link {
  position: relative;
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: var(--font-color--primary);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.32s ease;
  }
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  width: 0;
  left: auto;
  right: 0;
}

.classic-list {
  list-style: initial;
}

.magnet {
  transition: translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}

@media all {
  .lg-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}
@media all {
  .lg-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}
@media all {
  .md-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}
@media all {
  .md-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}
@media all {
  .sm-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}
@media all {
  .sm-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}
.text-stroke {
  -webkit-text-stroke: 1px var(--font-color--primary);
  color: transparent;
}

/* 
Satoshi Weights 
300 - 900 | Variable 

Monument Weights 
100, 200, 450, 675, 800 | Not Variable 
*/
/* Sunder Fonts */
@font-face {
  font-family: "satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Black.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Bold.woff2);
  font-weight: 675;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Regular.woff2);
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Light.woff2);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-block: 380px;
}
@media screen and (max-width: 1512px) {
  .hero {
    padding-block: 320px;
  }
}
.hero h1,
.hero p {
  text-align: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  height: 86dvh;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}/*# sourceMappingURL=styles.css.map */