:root {
  --background-color: #f7f7f7;
  --font-family-heading: Monument, sans-serif;
  --font-family-body: Satoshi, sans-serif;
  --font-color--primary: #000014;
  --hero-color--primary: #0c5ff2;
  --body-padding: 64px;
  --nav-height: 436px;
  --nav-background-color: #c6d3d8;
  --footer-height: 164px;
  --radius: 12px;
  --radius-lg: 40px;
}
@media (max-width: 1512px) {
  :root {
    --nav-height: 364px;
    --body-padding: 48px;
  }
}
@media (max-width: 1200px) {
  :root {
    --nav-height: 324px;
  }
}
@media (max-width: 1024px) {
  :root {
    --nav-height: 448px;
    --footer-height: 136px;
    --radius: 8px;
    --radius-lg: 24px;
  }
}
@media (max-width: 768px) {
  :root {
    --nav-height: 364px;
    --body-padding: 24px;
  }
}
@media (max-width: 480px) {
  :root {
    --footer-height: 196px;
  }
}

h1,
.h1,
body.has-loader .page-loader p {
  font-family: var(--font-family-heading);
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  h1,
  .h1,
  body.has-loader .page-loader p {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 1024px) {
  h1,
  .h1,
  body.has-loader .page-loader p {
    font-size: 6vw;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1,
  body.has-loader .page-loader p {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  h1,
  .h1,
  body.has-loader .page-loader p {
    font-size: 32px;
  }
}
h1 span,
.h1 span,
body.has-loader .page-loader p span {
  font-family: inherit;
}

h2,
.h2 {
  font-family: var(--font-family-heading);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  h2,
  .h2 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 1024px) {
  h2,
  .h2 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 768px) {
  h2,
  .h2 {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}
h2 span,
.h2 span {
  font-family: inherit;
}

h3,
.h3 {
  font-family: var(--font-family-heading);
  font-size: 48px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  h3,
  .h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  h3,
  .h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}
h3 span,
.h3 span {
  font-family: inherit;
}

h4,
.h4 {
  font-family: var(--font-family-heading);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  h4,
  .h4 {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 1024px) {
  h4,
  .h4 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  h4,
  .h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  h4,
  .h4 {
    font-size: 18px;
  }
}
h4 span,
.h4 span {
  font-family: inherit;
}

h5,
.h5 {
  font-family: var(--font-family-heading);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  h5,
  .h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  h5,
  .h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  h5,
  .h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  h5,
  .h5 {
    font-size: 12px;
  }
}
h5 span,
.h5 span {
  font-family: inherit;
}

h6,
.h6 {
  font-family: var(--font-family-heading);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  font-weight: 600;
}
@media screen and (max-width: 1512px) {
  h6,
  .h6 {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 1024px) {
  h6,
  .h6 {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  h6,
  .h6 {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  h6,
  .h6 {
    font-size: 16px;
  }
}
h6 span,
.h6 span {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  display: none;
}

body {
  background-color: var(--background-color);
}
body.has-loader .main-home .hero-text {
  opacity: 0;
  animation: fade-in 0.4s ease 2.2s forwards;
}
body.has-loader .page-loader {
  --slide-distance: 1.25ch;
  --background-color: #000014;
  --font-color--primary: #f7f7f7;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 2;
}
body.has-loader .page-loader * {
  color: var(--font-color--primary);
}
body.has-loader .page-loader p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 8vw;
  line-height: 120%;
}
@media screen and (max-width: 480px) {
  body.has-loader .page-loader p {
    font-size: 10vw;
  }
}
body.has-loader .page-loader p .page-loader__block {
  border: 2px dashed rgba(220, 20, 60, 0.75);
  font-family: inherit;
  display: flex;
  overflow: hidden;
  height: var(--slide-distance);
  padding-top: var(--slide-distance);
  animation: loader-text 2s ease 0.5s forwards;
}
body.has-loader .page-loader p .page-loader__block:nth-of-type(1) {
  animation-delay: 0.1s;
}
body.has-loader .page-loader p .page-loader__block:nth-of-type(2) {
  animation-delay: 0.2s;
}
body.has-loader .page-loader p .page-loader__block:nth-of-type(3) {
  animation-delay: 0.3s;
}
body.has-loader .page-loader p .page-loader__block:nth-of-type(4) {
  animation-delay: 0.4s;
}
body.has-loader .page-loader p .page-loader__block:nth-of-type(5) {
  animation-delay: 0.5s;
}
@keyframes loader-text {
  0% {
    align-items: flex-start;
    padding-top: var(--slide-distance);
  }
  25% {
    align-items: flex-start;
    padding-top: 0ch;
  }
  75% {
    align-items: flex-end;
    padding-bottom: 0ch;
  }
  100% {
    align-items: flex-end;
    padding-top: 0ch;
    padding-bottom: var(--slide-distance);
  }
}
body:has(.site-footer) section:last-of-type {
  padding-block-end: calc(var(--footer-height) + 96px);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

p,
a,
input,
textarea {
  color: var(--font-color--primary);
  font-family: var(--font-family-body);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 1512px) {
  p,
  a,
  input,
  textarea {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  p,
  a,
  input,
  textarea {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.site-header__logo, .site-header__cta-wrapper {
  position: absolute;
  top: var(--body-padding);
}
@media screen and (min-width: 769px) {
  .site-header__logo, .site-header__cta-wrapper {
    translate: 0 -50%;
  }
}
.site-header__logo {
  left: var(--body-padding);
  display: flex;
  width: 148px;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .site-header__logo {
    margin-block-start: 12px;
    width: 96px;
  }
}
.site-header__logo-image {
  display: block;
  transition: translate 0.5s ease;
}
.site-header__cta-wrapper {
  display: flex;
  right: var(--body-padding);
}
@media screen and (min-width: 1025px) {
  .site-header--fixed {
    position: fixed;
    z-index: 1;
  }
}
@media screen and (min-width: 1025px) {
  .site-header--fixed .site-header__logo {
    position: fixed;
  }
}
.site-header--fixed .site-header__cta-wrapper {
  position: fixed;
}
.site-header--nav-active .site-header__logo-image,
.site-header--nav-active .cta {
  translate: 0 calc(var(--nav-height) * -1);
}

.main-content,
.site-footer {
  transition: translate 0.5s ease;
}
.main-content--nav-active,
.site-footer--nav-active {
  translate: 0 calc(var(--nav-height) * -1);
}

.site-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: calc(var(--footer-height) * -1) auto 0;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding-inline-end: 64px;
  height: var(--footer-height);
}
@media screen and (min-width: 1201px) {
  .site-footer {
    width: 86%;
  }
}
@media screen and (max-width: 1024px) {
  .site-footer {
    padding-inline-end: 48px;
  }
}
@media screen and (max-width: 480px) {
  .site-footer {
    align-items: flex-start;
    justify-content: center;
    padding: 36px 0;
  }
}
.site-footer--enzy-colors {
  box-shadow: -2px 0 4px rgba(0, 0, 20, 0.05);
  background: linear-gradient(90deg, rgba(191, 217, 208, 0) 10%, #6da894);
}
@media screen and (max-width: 480px) {
  .site-footer--enzy-colors {
    box-shadow: -1px 0 4px rgba(0, 0, 20, 0.1);
  }
}

.nav-btn {
  --button-size: 64px;
  --line-width: 40%;
  --line-spacing: 6px;
  --line-transition-delay: 0.36s;
  --bottom-distance: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--hero-color--primary);
  position: fixed;
  bottom: var(--bottom-distance);
  left: 50%;
  translate: -50% 0;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  z-index: 4;
}
@media (prefers-reduced-motion: no-preference) {
  .nav-btn {
    transition: 0.3s ease, background 0.32s ease 0.12s;
    translate: -50% 200%;
    animation: nav-btn 0.4s ease 1s forwards;
  }
}
@media screen and (max-width: 480px) {
  .nav-btn {
    --button-size: 56px;
    --line-width: 50%;
    --bottom-distance: 32px;
  }
}
.nav-btn:hover, .nav-btn:focus-visible {
  scale: 1.05;
}
.nav-btn:active {
  scale: 0.95;
}
.nav-btn .line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: var(--background-color);
  width: var(--line-width);
  height: 2px;
  border-radius: 4px;
}
.nav-btn .line-default-1 {
  translate: -50% calc(-50% - var(--line-spacing));
  transition: 0.3s ease var(--line-transition-delay);
}
.nav-btn .line-default-2 {
  transition: 0.3s ease calc(var(--line-transition-delay) + 0.06s);
}
.nav-btn .line-default-3 {
  translate: -50% calc(-50% + var(--line-spacing));
  transition: 0.3s ease calc(var(--line-transition-delay) + 0.12s);
}
.nav-btn .line-close {
  width: 0;
  transition: 0.3s ease 0s;
}
.nav-btn .line-close-1 {
  rotate: 45deg;
}
.nav-btn .line-close-2 {
  rotate: -45deg;
}
.nav-btn[aria-expanded=true] {
  background: var(--font-color--primary);
}
.nav-btn[aria-expanded=true] .line-default {
  width: 0;
}
.nav-btn[aria-expanded=true] .line-default-1 {
  transition: 0.3s ease 0s;
}
.nav-btn[aria-expanded=true] .line-default-2 {
  transition: 0.3s ease 0.06s;
}
.nav-btn[aria-expanded=true] .line-default-3 {
  transition: 0.3s ease 0.12s;
}
.nav-btn[aria-expanded=true] .line-close {
  width: var(--line-width);
  transition: 0.3s ease var(--line-transition-delay);
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: var(--nav-background-color);
  width: 100vw;
  height: var(--nav-height);
  padding: calc(var(--body-padding) / 2);
  translate: 0 100%;
  transition: translate 0.5s ease;
}
@media (hover: none) and (pointer: coarse) {
  .site-nav {
    overflow-x: scroll;
  }
}
.site-nav .nav-slider {
  --initial-offset: 64px;
  display: flex;
  gap: 24px;
  width: -moz-fit-content;
  width: fit-content;
  translate: calc(-50vw - var(--initial-offset) + 50%) 0;
  padding-inline: 96px;
}
@media (prefers-reduced-motion: no-preference) {
  .site-nav .nav-slider {
    transition: translate 0.8s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
@media (min-width: 2712px) {
  .site-nav .nav-slider {
    translate: 0 0;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .nav-slider {
    --initial-offset: 24px;
    padding-inline: 48px 0;
    gap: 16px;
  }
}
.site-nav .nav-link {
  overflow: hidden;
}
.site-nav .nav-link__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius);
  margin-block-start: 12px;
  width: 148px;
  aspect-ratio: 1/1.4;
  transition: 0.3s ease, scale 0.4s ease;
}
@media screen and (min-width: 769px) {
  .site-nav .nav-link__img {
    width: 188px;
  }
}
@media screen and (min-width: 1025px) {
  .site-nav .nav-link__img {
    width: 250px;
    aspect-ratio: 1.85/1;
  }
}
@media screen and (min-width: 1201px) {
  .site-nav .nav-link__img {
    width: 320px;
  }
}
@media screen and (min-width: 1513px) {
  .site-nav .nav-link__img {
    width: 400px;
  }
}
.site-nav--active {
  translate: 0 0;
}

.cta {
  color: var(--font-color--primary);
  font-family: var(--font-family-body);
  font-size: 20px;
  font-weight: 400;
  padding: 0.5em 1.25em;
  isolation: isolate;
  position: relative;
  border: 1px solid currentColor;
  border-radius: 48px;
  overflow: hidden;
  flex-shrink: 0;
  transition: border 0.3s ease 0.1s, color 0.3s ease, translate 0.5s ease;
}
@media screen and (max-width: 1512px) {
  .cta {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .cta {
    font-size: 16px;
  }
}
.cta:hover {
  border-color: var(--hero-color--primary);
}
.cta:hover div.hover-fill {
  width: 220%;
  height: 320%;
  opacity: 1;
  transition: width 0.4s ease, height 0.4s ease;
}
.cta:focus-visible {
  border-color: var(--hero-color--primary);
  background-color: var(--hero-color--primary);
  transition: 0.2s ease;
}
.cta:focus-visible div.hover-fill {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .cta .hover-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    top: var(--mouse-x);
    left: var(--mouse-y);
    translate: -50% -50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0;
    background-color: var(--hero-color--primary);
    transform-origin: center;
    z-index: -1;
    transition: width 0.4s ease 0.2s, height 0.4s ease 0.2s, opacity 0.3s ease;
  }
}
.cta--lg {
  font-family: var(--font-family-heading);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  font-family: var(--font-family-body);
  line-height: 1;
  padding: 0.75em 1.25em;
}
@media screen and (max-width: 1512px) {
  .cta--lg {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1024px) {
  .cta--lg {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .cta--lg {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .cta--lg {
    font-size: 16px;
  }
}
.cta--lg span {
  font-family: inherit;
}
.cta--dark:hover, .cta--dark:focus-visible {
  color: var(--background-color);
}
.cta--light {
  color: var(--background-color);
}
.cta--light:hover, .cta--light:focus-visible {
  border-color: var(--background-color);
  color: var(--hero-color--primary);
}
.cta--light:focus-visible {
  background-color: var(--background-color);
}
.cta--light .hover-fill {
  background: var(--background-color);
}
.cta--video {
  font-family: var(--font-family-heading);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  font-family: var(--font-family-body);
  line-height: 1;
  padding: 0.75em 1.25em;
  border-color: var(--hero-color--primary);
  background: linear-gradient(90deg, rgba(21, 73, 147, 0.2509803922), rgba(74, 171, 208, 0.2509803922));
  display: inline-flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}
@media screen and (max-width: 1512px) {
  .cta--video {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1024px) {
  .cta--video {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .cta--video {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .cta--video {
    font-size: 16px;
  }
}
.cta--video span {
  font-family: inherit;
}
@media screen and (max-width: 480px) {
  .cta--video {
    gap: 8px;
  }
}
.cta--video .icon-group {
  --icon-size: 1em;
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .cta--video .icon-group {
    --icon-size: 1.25em;
    scale: 0.75;
  }
}
.cta--video .icon-group .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 80%;
  background: currentColor;
  -webkit-mask-image: url(../img/icons/play-solid.svg);
          mask-image: url(../img/icons/play-solid.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  padding: 12px;
}
.cta--video .icon-group .icon-1 {
  translate: -160% -50%;
  animation: video-cta-icon__1 3s ease infinite;
}
.cta--video .icon-group .icon-2 {
  translate: -50% -50%;
  animation: video-cta-icon__2 3s ease infinite;
}
.cta--enzy {
  background: linear-gradient(90deg, rgba(109, 168, 148, 0.3019607843), rgba(110, 168, 149, 0.4392156863));
  color: var(--background-color);
  border-color: #6da894;
}
@media screen and (max-width: 1024px) {
  .cta--enzy {
    background: #92dcc1;
    border-color: #92dcc1;
  }
}

.video-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 20, 0.9);
  z-index: 3;
}
@media (prefers-reduced-motion: no-preference) {
  .video-overlay {
    transition: opacity 0.3s ease;
  }
}
.video-overlay iframe {
  width: auto;
  height: 50%;
  aspect-ratio: 2/1.125;
}
@media screen and (max-width: 768px) {
  .video-overlay iframe {
    width: 80%;
    height: auto;
  }
}
.video-overlay--inactive {
  opacity: 0;
  pointer-events: none;
}

.image-reel {
  --gap: 16px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
  overflow: hidden;
}
.image-reel__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  flex: 1;
}
.image-reel__column img {
  border-radius: var(--radius);
}

.swiper {
  overflow: hidden;
}
.swiper .swiper-wrapper {
  display: inline-flex;
  cursor: grab;
}
.swiper .swiper-wrapper:active {
  cursor: grabbing;
}
.swiper .swiper-slide {
  position: relative;
  display: flex;
  border-radius: var(--radius);
  overflow: hidden;
}
.swiper .swiper-slide:hover .poster, .swiper .swiper-slide:focus-visible .poster {
  filter: brightness(1.25);
  scale: 1.05;
}
.swiper .swiper-slide .poster {
  height: auto;
  transition: 0.3s ease, scale 0.4s ease;
}
.swiper .swiper-slide .poster:active {
  cursor: grabbing;
}
.swiper .swiper-slide .caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(transparent, #000014);
  color: var(--background-color);
  width: 100%;
  position: absolute;
  top: 76%;
  left: 0;
  height: 24%;
  padding: 16px;
}
.swiper .swiper-slide .caption * {
  color: currentColor;
}
@media screen and (max-width: 480px) {
  .swiper .swiper-slide .caption {
    top: 72%;
    height: 28%;
    padding: 8px;
  }
}
.swiper .swiper-slide .caption h2 {
  font-weight: 500;
  text-align: left;
  font-size: 1vw;
  margin-block-end: 0.2vw;
}
@media screen and (max-width: 1200px) {
  .swiper .swiper-slide .caption h2 {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 768px) {
  .swiper .swiper-slide .caption h2 {
    font-size: max(2.25vw, 12px);
  }
}
.swiper .swiper-slide .caption h3 {
  font-weight: 500;
  font-size: 1.4vw;
  text-align: left;
}
@media screen and (max-width: 1512px) {
  .swiper .swiper-slide .caption h3 {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 1200px) {
  .swiper .swiper-slide .caption h3 {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 768px) {
  .swiper .swiper-slide .caption h3 {
    font-size: max(2.85vw, 12px);
  }
}
.swiper .swiper-slide .play-icon {
  --icon-size: 40px;
  --icon-placement: 16px;
  position: absolute;
  top: var(--icon-placement);
  right: var(--icon-placement);
  width: var(--icon-size);
  height: var(--icon-size);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 20, 0.25));
}
@media screen and (max-width: 1512px) {
  .swiper .swiper-slide .play-icon {
    --icon-size: 32px;
    --icon-placement: 12px;
  }
}
@media screen and (max-width: 480px) {
  .swiper .swiper-slide .play-icon {
    --icon-size: 24px;
  }
}
.swiper .swiper-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding-block: 12px;
  padding-inline: var(--body-padding);
}
@media screen and (max-width: 480px) {
  .swiper .swiper-pagination {
    justify-content: center;
  }
}
.swiper .swiper-pagination-bullet {
  border: 1px solid var(--hero-color--primary);
  background: transparent;
  padding: 8px;
  transition: 0.3s ease;
  opacity: 1;
  border-radius: 128px;
  cursor: pointer;
}
.swiper .swiper-pagination-bullet-active {
  background: var(--hero-color--primary);
}

.classic-link {
  position: relative;
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: var(--font-color--primary);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.32s ease;
  }
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  width: 0;
  left: auto;
  right: 0;
}

.classic-list {
  list-style: initial;
}

.magnet {
  transition: translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

@media all {
  .lg-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}
@media all {
  .lg-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}
@media all {
  .md-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}
@media all {
  .md-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}
@media all {
  .sm-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}
@media all {
  .sm-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}
@media all {
  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
  }
  .underline {
    text-decoration: underline;
  }
}
@font-face {
  font-family: "satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Black.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Bold.woff2);
  font-weight: 675;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Regular.woff2);
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Light.woff2);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "saira";
  src: url(../fonts/Saira-Variable.woff2);
  font-style: normal;
}
@keyframes fade-in {
  to {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes nav-btn {
  to {
    translate: -50% 0;
  }
}
@keyframes video-cta-icon__1 {
  0% {
    translate: -160% -50%;
  }
  80% {
    translate: -160% -50%;
  }
  100% {
    translate: -50% -50%;
  }
}
@keyframes video-cta-icon__2 {
  0% {
    translate: -50% -50%;
  }
  80% {
    translate: -50% -50%;
  }
  100% {
    translate: 100% -50%;
  }
}
.main-home {
  --min-height: 700px;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .main-home .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100vw;
  }
}
.main-home .text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  --background-color: #000014;
  --font-color--primary: #f7f7f7;
  background: var(--background-color);
  padding: var(--body-padding);
  height: max(100vh, var(--min-height));
  height: max(100dvh, var(--min-height));
  gap: 48px;
}
.main-home .text-group * {
  color: var(--font-color--primary);
}
@media screen and (min-width: 1025px) {
  .main-home .text-group {
    position: sticky;
    top: 0;
    width: calc(50vw - 16px);
  }
}
.main-home .text-group .cta-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 480px) {
  .main-home .text-group .cta-group {
    gap: 12px;
  }
}
@media screen and (min-width: 1025px) {
  .main-home .image-reel {
    width: calc(50vw - 16px);
  }
}
.main-home .image-reel img:first-of-type {
  border-radius: 0 0 var(--radius) var(--radius);
}
.main-home .image-reel img:last-of-type {
  border-radius: var(--radius) var(--radius) 0 0;
}

.main-compete .hero {
  height: 100vh;
  padding-block-start: 128px;
}
@media screen and (max-width: 1512px) {
  .main-compete .hero {
    padding-block-start: 112px;
  }
}
@media screen and (max-width: 480px) {
  .main-compete .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0 64px;
  }
}
.main-compete .hero .swiper {
  padding-inline: var(--body-padding);
}
.main-compete .hero .swiper .swiper-wrapper {
  padding-block-end: 64px;
}

.main-experience {
  --section-padding: 24px;
}
@media screen and (max-width: 768px) {
  .main-experience {
    --section-padding: 12px;
  }
}
.main-experience .hero {
  padding: var(--section-padding);
}
@media screen and (max-width: 1200px) {
  .main-experience .hero .image-reel__column-4 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main-experience .hero .image-reel__column-3 {
    display: none;
  }
}
.main-experience .video-library {
  padding: var(--section-padding);
  padding-block: 64px 96px;
}
@media screen and (max-width: 768px) {
  .main-experience .video-library {
    padding-block: 48px 128px;
  }
}
.main-experience .video-library .swiper-pagination {
  padding-inline-start: 0;
}

.main-join {
  --min-height: 700px;
  min-height: 100dvh;
}
@media screen and (min-width: 1025px) {
  .main-join .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
  }
}
.main-join .hero-img {
  position: sticky;
  top: 0;
  width: 50vw;
  height: max(100dvh, var(--min-height));
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .main-join .hero-img {
    display: none;
  }
}
.main-join .hero .form-panel {
  --form-panel-spacing: 128px;
  --background-color: #000014;
  --font-color--primary: #f7f7f7;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  width: 50vw;
  padding-block: var(--form-panel-spacing);
  overflow: hidden;
}
.main-join .hero .form-panel * {
  color: var(--font-color--primary);
}
@media screen and (max-width: 1512px) {
  .main-join .hero .form-panel {
    --form-panel-spacing: 96px;
  }
}
@media screen and (max-width: 1024px) {
  .main-join .hero .form-panel {
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .main-join .hero .form-panel {
    --form-panel-spacing: 64px;
    padding-block-end: 128px;
  }
}
.main-join .hero .form-panel__logo-link {
  display: contents;
}
.main-join .hero .form-panel__logo-img {
  width: min(35%, 250px);
  margin-block-end: var(--form-panel-spacing);
}
.main-join .hero .join-sunder-form {
  color: var(--font-color--primary);
  font-family: var(--font-family-body);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 75%;
}
@media screen and (max-width: 1512px) {
  .main-join .hero .join-sunder-form {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .main-join .hero .join-sunder-form {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .main-join .hero .join-sunder-form {
    width: calc(100% - var(--body-padding) * 2);
  }
}
.main-join .hero .join-sunder-form .form-block {
  position: relative;
  width: 100%;
  height: 2em;
}
.main-join .hero .join-sunder-form .form-block:hover .label, .main-join .hero .join-sunder-form .form-block:focus-within .label {
  opacity: 1;
}
.main-join .hero .join-sunder-form .form-block:has(textarea) {
  height: 6em;
}
.main-join .hero .join-sunder-form .form-block .label,
.main-join .hero .join-sunder-form .form-block .input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.main-join .hero .join-sunder-form .form-block .label {
  pointer-events: none;
  transition: 0.25s ease;
  opacity: 0.75;
  white-space: nowrap;
}
.main-join .hero .join-sunder-form .form-block .label .nested-label {
  font-size: max(0.9em, 13px);
  font-style: oblique;
  translate: 12px -6px;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0s;
}
.main-join .hero .join-sunder-form .form-block .input {
  border: none;
  border-bottom: 1px solid var(--font-color--primary);
  background-color: transparent;
  resize: none;
}
.main-join .hero .join-sunder-form .form-block-group {
  display: flex;
  gap: 12px;
  width: 100%;
}
.main-join .hero .join-sunder-form .input:focus ~ .label,
.main-join .hero .join-sunder-form .input:not(:placeholder-shown).input:not(focus) ~ .label, .main-join .hero .join-sunder-form:-webkit-autofill, .main-join .hero .join-sunder-form:-webkit-autofill:hover, .main-join .hero .join-sunder-form:-webkit-autofill:focus {
  translate: 0 -100%;
  font-size: 0.8em;
}
.main-join .hero .join-sunder-form .input:focus ~ .label .nested-label,
.main-join .hero .join-sunder-form .input:not(:placeholder-shown).input:not(focus) ~ .label .nested-label, .main-join .hero .join-sunder-form:-webkit-autofill .nested-label, .main-join .hero .join-sunder-form:-webkit-autofill:hover .nested-label, .main-join .hero .join-sunder-form:-webkit-autofill:focus .nested-label {
  translate: 8px -1px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
}
.main-join .hero .join-sunder-form .cta {
  width: max(25%, 128px);
}

.main-resources {
  padding-block-start: 136px;
}
@media screen and (max-width: 1512px) {
  .main-resources {
    padding-block-start: 112px;
  }
}
.main-resources .hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 1025px) {
  .main-resources .hero {
    padding-inline-start: var(--body-padding);
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 128px;
  }
}
.main-resources .hero__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 1025px) {
  .main-resources .hero__caption {
    position: sticky;
    top: 50vh;
    translate: 0 -50%;
    align-items: flex-start;
    gap: 40px;
  }
}
.main-resources .hero__caption .hero__title {
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .main-resources .hero__caption .hero__title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .main-resources .hero__caption .hero__title {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .hero__caption .hero__subtitle {
    text-align: center;
  }
}
.main-resources .hero__caption .hero__subtitle .floating-text {
  display: inline-block;
  margin-inline-end: 0.5ch;
}
.main-resources .hero .image-group {
  --img-spacing: var(--body-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--img-spacing);
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .main-resources .hero .image-group {
    --img-spacing: calc(var(--body-padding) * 2.5);
    width: 100%;
  }
}
.main-resources .hero .image-group__image {
  border-radius: var(--radius) 0 0 var(--radius);
  align-self: flex-end;
}
@media screen and (max-width: 1024px) {
  .main-resources .hero .image-group__image {
    width: min(100% - var(--img-spacing), 650px);
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .hero .image-group__image:nth-of-type(2) {
    border-radius: 0 var(--radius) var(--radius) 0;
    align-self: flex-start;
  }
}
.main-resources .meet-the-team {
  padding: 128px 0;
}
.main-resources .meet-the-team .pinned {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .main-resources .meet-the-team .pinned {
    height: 50vh;
  }
}
.main-resources .meet-the-team .pinned .slot-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-resources .meet-the-team .pinned .slot-text {
    font-size: max(4.2vw, 20px);
  }
}
.main-resources .meet-the-team .pinned .slot-text__slider {
  --offset: 0.5ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: calc(1ch + var(--offset) * 2);
  padding-block-start: var(--offset);
  translate: 0 calc(var(--offset) * -1);
  overflow: hidden;
  font-weight: 600;
}
.main-resources .meet-the-team .pinned .slot-text__slider::before, .main-resources .meet-the-team .pinned .slot-text__slider::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  z-index: 1;
}
.main-resources .meet-the-team .pinned .slot-text__slider::before {
  top: 0;
  background: linear-gradient(var(--background-color), transparent);
  translate: 0 -4px;
}
.main-resources .meet-the-team .pinned .slot-text__slider::after {
  bottom: 0;
  background: linear-gradient(to top, var(--background-color), transparent);
  translate: 0 4px;
}
.main-resources .meet-the-team .pinned .slot-text__slider-inner:first-of-type {
  padding-block-end: 24px;
}
@media screen and (max-width: 480px) {
  .main-resources .meet-the-team .pinned .slot-text__slider-inner:first-of-type {
    padding-block-end: 4px;
  }
}
.main-resources .meet-the-team .team-portraits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-inline: var(--body-padding);
  scroll-margin-top: 20vh;
}
@media screen and (max-width: 1200px) {
  .main-resources .meet-the-team .team-portraits {
    gap: 16px;
  }
}
.main-resources .meet-the-team .team-portraits .figure {
  display: flex;
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
  flex: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .main-resources .meet-the-team .team-portraits .figure {
    opacity: 0;
  }
}
@media screen and (prefers-reduced-motion: no-preference) and (min-width: 769px) {
  .main-resources .meet-the-team .team-portraits .figure {
    translate: 0 20%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .main-resources .meet-the-team .team-portraits .figure.animate {
    opacity: 1;
    translate: 0 0;
    transition: 0.5s ease 0.15s;
  }
  .main-resources .meet-the-team .team-portraits .figure.animate:nth-of-type(1) {
    transition-delay: 0.075s;
  }
  .main-resources .meet-the-team .team-portraits .figure.animate:nth-of-type(2) {
    transition-delay: 0.15s;
  }
  .main-resources .meet-the-team .team-portraits .figure.animate:nth-of-type(3) {
    transition-delay: 0.225s;
  }
  .main-resources .meet-the-team .team-portraits .figure.animate:nth-of-type(4) {
    transition-delay: 0.3s;
  }
}
@media screen and (min-width: 481px) {
  .main-resources .meet-the-team .team-portraits .figure {
    max-width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .meet-the-team .team-portraits .figure {
    flex: 1 0 320px;
  }
}
.main-resources .meet-the-team .team-portraits .figure__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(transparent, #000014);
  color: var(--background-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 24px;
}
.main-resources .meet-the-team .team-portraits .figure__caption * {
  color: currentColor;
}
@media screen and (max-width: 1200px) {
  .main-resources .meet-the-team .team-portraits .figure__caption {
    padding: 16px;
  }
}
.main-resources .meet-the-team .team-portraits .figure__caption-name, .main-resources .meet-the-team .team-portraits .figure__caption-role {
  font-family: var(--font-family-heading);
}
.main-resources .meet-the-team .team-portraits .figure__caption-name {
  font-family: var(--font-family-heading);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  font-weight: 600;
}
@media screen and (max-width: 1512px) {
  .main-resources .meet-the-team .team-portraits .figure__caption-name {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .meet-the-team .team-portraits .figure__caption-name {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .main-resources .meet-the-team .team-portraits .figure__caption-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .main-resources .meet-the-team .team-portraits .figure__caption-name {
    font-size: 16px;
  }
}
.main-resources .meet-the-team .team-portraits .figure__caption-name span {
  font-family: inherit;
}
.main-resources .meet-the-team .team-portraits .figure__caption-role {
  font-weight: 300;
}
.main-resources .enzy {
  --font-family-heading: Saira, sans-serif;
  --font-family-body: Saira, sans-serif;
  --gradient-distance: 180%;
  background: linear-gradient(180deg, #6ca793, rgba(108, 167, 147, 0) var(--gradient-distance));
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy {
    --gradient-distance: 240%;
  }
}
.main-resources .enzy .enzy-hero {
  --children-width: 40%;
  --section-spacing: 196px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  isolation: isolate;
  position: relative;
  padding-block: var(--section-spacing);
  margin-block-end: var(--section-spacing);
}
.main-resources .enzy .enzy-hero::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/static/img/resources-enzy-glyph.svg");
  background-size: cover;
  background-position: 50% 120%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero::before {
    opacity: 0.25;
  }
}
@media screen and (max-width: 1512px) {
  .main-resources .enzy .enzy-hero {
    --section-spacing: 148px;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero {
    --children-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1512px) {
  .main-resources .enzy .enzy-hero {
    --section-spacing: 148px;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero {
    --section-spacing: 96px;
  }
}
.main-resources .enzy .enzy-hero__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  padding-inline: var(--body-padding);
  width: var(--children-width);
  padding-block-start: 196px;
}
@media screen and (max-width: 1512px) {
  .main-resources .enzy .enzy-hero__caption {
    padding-block-start: 128px;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero__caption {
    align-items: center;
    padding-block: 0 calc(var(--section-spacing) / 1.25);
  }
}
.main-resources .enzy .enzy-hero__caption .enzy-logo {
  width: 75%;
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero__caption .enzy-logo {
    width: max(50%, 216px);
  }
}
@media screen and (min-width: 1025px) {
  .main-resources .enzy .enzy-hero__caption .cta {
    margin-inline-start: 22%;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero__caption .cta {
    display: none;
  }
}
.main-resources .enzy .enzy-hero__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: var(--body-padding);
  width: var(--children-width);
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-hero__figure {
    width: 75%;
    margin-block-end: 48px;
  }
}
@media screen and (max-width: 768px) {
  .main-resources .enzy .enzy-hero__figure {
    width: 100%;
  }
}
.main-resources .enzy .enzy-hero__figure-caption {
  font-size: max(2vw, 24px);
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .main-resources .enzy .enzy-hero__figure-caption {
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1025px) {
  .main-resources .enzy .enzy-hero > .cta {
    display: none;
  }
}
.main-resources .enzy .enzy-features {
  --font-color--primary: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features {
    gap: 164px;
  }
}
@media screen and (max-width: 480px) {
  .main-resources .enzy .enzy-features {
    gap: 96px;
  }
}
.main-resources .enzy .enzy-features .feature-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .main-resources .enzy .enzy-features .feature-block .feature-block__img {
    opacity: 0;
    scale: 0.95;
  }
  .main-resources .enzy .enzy-features .feature-block .feature-block__caption-title,
  .main-resources .enzy .enzy-features .feature-block .feature-block__caption-description {
    opacity: 0;
    translate: 25% 0;
  }
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__img,
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__caption-title,
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__caption-description {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__img {
    transition: 0.5s ease 0.25s;
  }
}
@media screen and (prefers-reduced-motion: no-preference) and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__img {
    transition-delay: 0s;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__caption-title {
    transition: 0.5s ease 0.25s;
  }
  .main-resources .enzy .enzy-features .feature-block.animate .feature-block__caption-description {
    transition: 0.5s ease 0.3s;
  }
}
.main-resources .enzy .enzy-features .feature-block:nth-of-type(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block:nth-of-type(even) {
    flex-direction: column;
  }
}
.main-resources .enzy .enzy-features .feature-block:first-of-type::after {
  top: 50%;
  height: 50%;
}
.main-resources .enzy .enzy-features .feature-block:last-of-type::after {
  bottom: 50%;
  height: 50%;
}
.main-resources .enzy .enzy-features .feature-block::before, .main-resources .enzy .enzy-features .feature-block::after {
  content: "";
  position: absolute;
  background-color: var(--background-color);
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block::before, .main-resources .enzy .enzy-features .feature-block::after {
    display: none;
  }
}
.main-resources .enzy .enzy-features .feature-block::before {
  padding: 8px;
  border-radius: 50%;
}
.main-resources .enzy .enzy-features .feature-block::after {
  height: 100%;
  width: 2px;
}
@media screen and (min-width: 1025px) {
  .main-resources .enzy .enzy-features .feature-block__img, .main-resources .enzy .enzy-features .feature-block__caption {
    width: 25%;
  }
}
.main-resources .enzy .enzy-features .feature-block__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
}
.main-resources .enzy .enzy-features .feature-block__caption-title {
  font-family: var(--font-family-heading);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
  font-weight: 700;
  margin-block-end: 24px;
}
@media screen and (max-width: 1512px) {
  .main-resources .enzy .enzy-features .feature-block__caption-title {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block__caption-title {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 768px) {
  .main-resources .enzy .enzy-features .feature-block__caption-title {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  .main-resources .enzy .enzy-features .feature-block__caption-title {
    font-size: 32px;
  }
}
.main-resources .enzy .enzy-features .feature-block__caption-title span {
  font-family: inherit;
}
@media screen and (max-width: 480px) {
  .main-resources .enzy .enzy-features .feature-block__caption-title {
    font-weight: 600;
    margin-block-end: 12px;
  }
}
.main-resources .enzy .enzy-features .feature-block__caption-description {
  font-family: var(--font-family-heading);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  font-weight: 200;
  white-space: nowrap;
}
@media screen and (max-width: 1512px) {
  .main-resources .enzy .enzy-features .feature-block__caption-description {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block__caption-description {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .main-resources .enzy .enzy-features .feature-block__caption-description {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .main-resources .enzy .enzy-features .feature-block__caption-description {
    font-size: 18px;
  }
}
.main-resources .enzy .enzy-features .feature-block__caption-description span {
  font-family: inherit;
}
@media screen and (max-width: 480px) {
  .main-resources .enzy .enzy-features .feature-block__caption-description {
    font-weight: 400;
  }
}
@media screen and (max-width: 1024px) {
  .main-resources .enzy .enzy-features .feature-block__img {
    width: 50%;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  height: 86dvh;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}/*# sourceMappingURL=styles.css.map */