@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;300;500;700;900&display=swap");
:root {
  --background-color: #f7f7f7;
  --font-color--primary: #000014;
  --hero-color--primary: #0c5ff2;
  --body-padding: 48px;
  --nav-height: 420px;
  --nav-background-color: #c6d3d8;
  --radius: 12px;
}
@media (max-width: 1512px) {
  :root {
    --nav-height: 348px;
    --body-padding: 24px;
  }
}
@media (max-width: 1200px) {
  :root {
    --nav-height: 312px;
  }
}
@media (max-width: 1024px) {
  :root {
    --nav-height: 420px;
    --radius: 8px;
  }
}

.h1 {
  font-family: "Monument", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  .h1 {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 6.8vw;
  }
}
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 480px) {
  .h1 {
    font-size: 32px;
  }
}

.h2 {
  font-family: "Monument", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  .h2 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h2 {
    font-size: 6.4vw;
  }
}
@media screen and (max-width: 480px) {
  .h2 {
    font-size: 32px;
  }
}

.h3 {
  font-family: "Monument", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  .h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  .h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 768px) {
  .h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .h3 {
    font-size: 20px;
  }
}

.h4 {
  font-family: "Monument", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  .h4 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  .h4 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 768px) {
  .h4 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 480px) {
  .h4 {
    font-size: 12px;
  }
}

.h5 {
  font-family: "Monument", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 1512px) {
  .h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .h5 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .h5 {
    font-size: 12px;
  }
}

.h6, .cta {
  font-family: "Monument", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  font-family: "Satoshi", sans-serif;
  line-height: 1;
}
@media screen and (max-width: 1512px) {
  .h6, .cta {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1024px) {
  .h6, .cta {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .h6, .cta {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .h6, .cta {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

.site-header__logo {
  position: absolute;
  top: var(--body-padding);
  left: var(--body-padding);
  display: flex;
  width: 148px;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .site-header__logo {
    width: 96px;
  }
}
.site-header__logo-image {
  display: block;
  width: 100%;
  transition: translate 0.5s ease;
}
@media screen and (min-width: 1025px) {
  .site-header--fixed .site-header__logo {
    position: fixed;
  }
}
.site-header--nav-active .site-header__logo-image {
  translate: 0 calc(var(--nav-height) * -1);
}

.main-content {
  transition: translate 0.5s ease;
}
.main-content--nav-active {
  translate: 0 calc(var(--nav-height) * -1);
}

.nav-btn {
  --button-size: 64px;
  --line-width: 36%;
  --line-spacing: 6px;
  --line-transition-delay: 0.36s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--hero-color--primary);
  position: fixed;
  bottom: var(--body-padding);
  left: 50%;
  translate: -50% 0;
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  border-radius: 50%;
  z-index: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .nav-btn {
    transition: 0.3s ease, background 0.32s ease 0.12s;
  }
}
@media screen and (max-width: 480px) {
  .nav-btn {
    --button-size: 56px;
    bottom: 32px;
  }
}
.nav-btn:hover, .nav-btn:focus-visible {
  scale: 1.05;
}
.nav-btn:active {
  scale: 0.95;
}
.nav-btn .line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: var(--background-color);
  width: var(--line-width);
  height: 2px;
  border-radius: 4px;
}
.nav-btn .line-default-1 {
  translate: -50% calc(-50% - var(--line-spacing));
  transition: 0.3s ease var(--line-transition-delay);
}
.nav-btn .line-default-2 {
  transition: 0.3s ease calc(var(--line-transition-delay) + 0.06s);
}
.nav-btn .line-default-3 {
  translate: -50% calc(-50% + var(--line-spacing));
  transition: 0.3s ease calc(var(--line-transition-delay) + 0.12s);
}
.nav-btn .line-close {
  width: 0;
  transition: 0.3s ease 0s;
}
.nav-btn .line-close-1 {
  rotate: 45deg;
}
.nav-btn .line-close-2 {
  rotate: -45deg;
}
.nav-btn[aria-expanded=true] {
  background: var(--font-color--primary);
}
.nav-btn[aria-expanded=true] .line-default {
  width: 0;
}
.nav-btn[aria-expanded=true] .line-default-1 {
  transition: 0.3s ease 0s;
}
.nav-btn[aria-expanded=true] .line-default-2 {
  transition: 0.3s ease 0.06s;
}
.nav-btn[aria-expanded=true] .line-default-3 {
  transition: 0.3s ease 0.12s;
}
.nav-btn[aria-expanded=true] .line-close {
  width: var(--line-width);
  transition: 0.3s ease var(--line-transition-delay);
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: var(--nav-background-color);
  width: 100vw;
  height: var(--nav-height);
  padding: var(--body-padding);
  translate: 0 100%;
  transition: translate 0.5s ease;
}
@media (hover: none) and (pointer: coarse) {
  .site-nav {
    overflow-x: scroll;
  }
}
.site-nav .nav-slider {
  --initial-offset: 64px;
  display: flex;
  gap: 24px;
  width: -moz-fit-content;
  width: fit-content;
  translate: calc(-50vw - var(--initial-offset) + 50%) 0;
  padding-inline: 96px;
}
@media (prefers-reduced-motion: no-preference) {
  .site-nav .nav-slider {
    transition: translate 0.8s cubic-bezier(0.18, 0.97, 0.47, 1);
  }
}
@media (min-width: 2712px) {
  .site-nav .nav-slider {
    translate: 0 0;
  }
}
@media screen and (max-width: 480px) {
  .site-nav .nav-slider {
    --initial-offset: 24px;
    padding-inline: 48px;
  }
}
.site-nav .nav-link {
  color: var(--font-color--primary);
}
.site-nav .nav-link__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius);
  margin-block-start: 12px;
  width: 188px;
  height: 256px;
}
@media screen and (min-width: 1025px) {
  .site-nav .nav-link__img {
    width: 250px;
    height: auto;
    aspect-ratio: 1.85/1;
  }
}
@media screen and (min-width: 1201px) {
  .site-nav .nav-link__img {
    width: 320px;
  }
}
@media screen and (min-width: 1513px) {
  .site-nav .nav-link__img {
    width: 400px;
  }
}
.site-nav--active {
  translate: 0 0;
}

.cta {
  isolation: isolate;
  position: relative;
  border: 1px solid var(--background-color);
  padding: 0.75em 1.25em;
  border-radius: 48px;
  overflow: hidden;
  transition: border 0.3s ease 0.1s;
}
.cta:hover {
  border-color: var(--hero-color--primary);
}
.cta:hover div.hover-fill {
  width: 220%;
  height: 320%;
  opacity: 1;
  transition: width 0.4s ease, height 0.4s ease;
}
.cta:focus-visible {
  border-color: var(--hero-color--primary);
  background-color: var(--hero-color--primary);
  transition: 0.2s ease;
}
.cta:focus-visible div.hover-fill {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .cta .hover-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    top: var(--mouse-x);
    left: var(--mouse-y);
    translate: -50% -50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0;
    background-color: var(--hero-color--primary);
    transform-origin: center;
    z-index: -1;
    transition: width 0.4s ease 0.2s, height 0.4s ease 0.2s, opacity 0.3s ease;
  }
}
.cta--video {
  border-color: var(--hero-color--primary);
  background: linear-gradient(90deg, rgba(21, 73, 147, 0.2509803922), rgba(74, 171, 208, 0.2509803922));
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 480px) {
  .cta--video {
    gap: 8px;
  }
}
.cta--video .icon-group {
  position: relative;
  width: 1em;
  height: 1em;
  overflow: hidden;
}
.cta--video .icon-group .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 80%;
  background: var(--background-color);
  -webkit-mask-image: url(../img/icons/play-solid.svg);
          mask-image: url(../img/icons/play-solid.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}
.cta--video .icon-group .icon-1 {
  translate: -160% -50%;
  animation: video-cta-icon__1 3s ease infinite;
}
.cta--video .icon-group .icon-2 {
  translate: -50% -50%;
  animation: video-cta-icon__2 3s ease infinite;
}

.classic-link {
  position: relative;
}
.classic-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 1px;
  background-color: var(--font-color--primary);
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link::before {
    transition: 0.32s ease;
  }
}
.classic-link:hover::before, .classic-link:focus-visible::before {
  width: 0;
  left: auto;
  right: 0;
}

.classic-list {
  list-style: initial;
}

.magnet {
  transition: translate 0.8s cubic-bezier(0.09, 0.9, 0.5, 1);
}

@media all {
  .lg-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}
@media all {
  .lg-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}
@media all {
  .md-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}
@media all {
  .md-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}
@media all {
  .sm-screen-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}
@media all {
  .sm-screen-and-below {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}
.text-stroke {
  -webkit-text-stroke: 1px var(--font-color--primary);
  color: transparent;
}

/* 
Satoshi Weights 
300 - 900 | Variable 

Monument Weights 
100, 200, 450, 675, 800 | Not Variable 
*/
/* Sunder Fonts */
@font-face {
  font-family: "satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Black.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Bold.woff2);
  font-weight: 675;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Regular.woff2);
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Light.woff2);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@keyframes video-cta-icon__1 {
  0% {
    translate: -160% -50%;
  }
  80% {
    translate: -160% -50%;
  }
  100% {
    translate: -50% -50%;
  }
}
@keyframes video-cta-icon__2 {
  0% {
    translate: -50% -50%;
  }
  80% {
    translate: -50% -50%;
  }
  100% {
    translate: 100% -50%;
  }
}
.main-home {
  --min-height: 600px;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .main-home {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.main-home .text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--font-color--primary);
  padding: var(--body-padding);
  height: max(100vh, var(--min-height));
  height: max(100dvh, var(--min-height));
  gap: 48px;
}
.main-home .text-group * {
  color: var(--background-color);
}
@media screen and (min-width: 1025px) {
  .main-home .text-group {
    position: sticky;
    top: 0;
    width: calc(50vw - 16px);
  }
}
.main-home .text-group .cta-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 480px) {
  .main-home .text-group .cta-group {
    gap: 12px;
  }
}
.main-home .image-reel {
  --gap: 16px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .main-home .image-reel {
    width: calc(50vw - 16px);
  }
}
.main-home .image-reel__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  z-index: -1;
}
.main-home .image-reel__column img {
  width: 100%;
  border-radius: var(--radius);
}
.main-home .image-reel__column img:first-of-type {
  border-radius: 0 0 var(--radius) var(--radius);
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  height: 86dvh;
}
@media screen and (max-width: 1512px) {
  .error {
    height: 100vh;
    height: 100dvh;
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: 92vh;
    height: 92dvh;
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error p {
  margin-block-end: 48px;
}/*# sourceMappingURL=styles.css.map */