.main-compete {
  .hero {
    height: 100vh; // To close nav when clicking outside
    padding-block-start: 128px;

    @include mq-max("xxl") {
      padding-block-start: 112px;
    }

    @include mq-max("sm") {
      @include row-center;
      padding-block: 0 64px;
    }
  }

  .swiper {
    padding-inline: var(--body-padding);

    .swiper-wrapper {
      display: flex;
      padding-block-end: 64px; // position pagination.
      width: 150%;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  .swiper-slide {
    position: relative;
    display: flex;
    border-radius: var(--radius);
    overflow: hidden;

    .poster {
      width: 100%;
      height: auto;

      &:active {
        cursor: grabbing;
      }
    }

    .caption {
      @include column-start(flex-start);
      background: linear-gradient(transparent, $sunder-midnight);
      position: absolute;
      // bottom: 0;
      top: 76%;
      left: 0;
      width: 100%;
      height: 24%;
      color: white;
      padding: 16px;

      h2 {
        font-family: $font-family-heading;
        font-weight: 500;
        text-align: left;
        font-size: 1vw;
        margin-block-end: 0.2vw;

        @include mq-max("xl") {
          font-size: 1.4vw;
        }

        @include mq-max("md") {
          font-size: 2.2vw;
        }
      }

      h3 {
        font-family: $font-family-heading;
        font-weight: 500;
        font-size: 1.4vw;
        text-align: left;

        @include mq-max("xxl") {
          font-size: 1.5vw;
        }

        @include mq-max("xl") {
          font-size: 1.8vw;
        }

        @include mq-max("md") {
          font-size: 2.8vw;
        }
      }
    }
  }

  .swiper-pagination {
    @include row-center(flex-start);
    padding-block: 12px;
    padding-inline: var(--body-padding);

    &-bullet {
      border: 1px solid var(--hero-color--primary);
      background: transparent;
      padding: 6px;
      transition: 0.3s ease;
      opacity: 1;

      &-active {
        background: var(--hero-color--primary);
      }
    }
  }
}
