.main-compete {
  .hero {
    height: 100vh; // To close nav when clicking outside
    padding-block-start: 128px;

    @media all {
      @include mq-max("xxl") {
        padding-block-start: 112px;
      }

      @include mq-max("sm") {
        @include row-center;
        padding-block: 0 64px;
      }
    }

    .swiper {
      // See globals.scss for all swiper/carousel styles
      padding-inline: var(--body-padding);

      .swiper-wrapper {
        padding-block-end: 64px; // position pagination.
      }
    }
  }
}
