.main-experience {
  --section-padding: 24px;

  @include mq-max("md") {
    --section-padding: 12px;
  }

  .hero {
    padding: var(--section-padding);

    .image-reel {
      &__column-4 {
        @include mq-max("xl") {
          display: none;
        }
      }
      &__column-3 {
        @include mq-max("md") {
          display: none;
        }
      }
    }
  }

  .video-library {
    padding: var(--section-padding);
    padding-block: 64px 96px;

    @include mq-max("md") {
      padding-block: 48px 128px;
    }

    .swiper-pagination {
      padding-inline-start: 0;
    }
  }
}
