.main-home {
  --min-height: 700px;
  $children-width: calc(50vw - 16px);
  height: 100%;

  .hero {
    @include mq-min("lg") {
      @include row-start(space-between);
      position: relative;
      width: 100vw;
    }
  }

  .text-group {
    @include column-start;
    @include dark-theme;
    padding: var(--body-padding);
    height: max(100vh, var(--min-height));
    height: max(100dvh, var(--min-height));
    gap: 48px;

    @include mq-min("lg") {
      position: sticky;
      top: 0;
      width: $children-width;
    }

    .cta-group {
      @include row-center(flex-start);
      gap: 24px;

      @include mq-max("sm") {
        gap: 12px;
      }
    }
  }

  .image-reel {
    --gap: 16px;

    // height: var(--reel-height); // set from home.js
    display: flex;
    align-items: flex-start;
    gap: var(--gap);
    overflow: hidden;

    @include mq-min("lg") {
      width: $children-width;
    }

    &__column {
      @include column-center;
      gap: var(--gap);
      z-index: -1;

      img {
        width: 100%;
        border-radius: var(--radius);

        &:first-of-type {
          border-radius: 0 0 var(--radius) var(--radius);
        }
      }
    }
  }
}
