.main-home {
  --min-height: 700px;
  $children-width: calc(50vw - $img-reel-gap);
  height: 100%;

  @include mq-max("xl") {
    --min-height: 672px;
  }

  @include mq-max("sm") {
    --min-height: 612px;
  }

  .hero {
    @include mq-min("lg") {
      @include row-start(space-between);
      position: relative;
      width: 100vw;

      &.safari-styles {
        width: calc(100vw - var(--scroll-bar-width));
      }
    }
  }

  .text-group {
    @include column-start;
    @include dark-theme;
    padding: var(--body-padding);
    gap: 48px;
    height: max(90svh, var(--min-height));

    @include mq-min("lg") {
      position: sticky;
      top: 0;
      width: $children-width;
      height: max(100svh, var(--min-height));
    }

    .cta-group {
      @include row-center(flex-start);
      gap: 24px;

      @include mq-max("sm") {
        gap: 12px;
      }
    }
  }

  .image-reel {
    // see globals.scss for all styles
    // height: var(--reel-height); // set from home.js

    @include mq-min("lg") {
      width: $children-width;
    }

    img {
      &:first-of-type {
        border-radius: 0 0 var(--radius) var(--radius);
      }
      &:last-of-type {
        border-radius: var(--radius) var(--radius) 0 0;
      }
    }
  }
}
