.main-join {
  --min-height: 700px; // Optional, locks image in place vs scroll at the end of page
  min-height: 100dvh;

  .hero {
    @include mq-min("lg") {
      @include row-start(space-between);

      width: 100vw;
    }

    &-img {
      position: sticky;
      top: 0;
      width: 50vw;
      height: max(100.01dvh, var(--min-height));
      object-fit: cover;

      @include mq-max("lg") {
        display: none;
      }
    }

    .form-panel {
      --form-panel-spacing: 128px;

      @include dark-theme;
      @include column-center(flex-start);
      min-height: 100dvh;
      width: 50vw;
      padding-block: var(--form-panel-spacing);
      overflow: hidden; // whitespace: nowrap on textarea caused page-x scroll for mobile

      @media all {
        @include mq-max("xxl") {
          --form-panel-spacing: 96px;
        }

        @include mq-max("lg") {
          width: 100vw;
        }

        @include mq-max("md") {
          --form-panel-spacing: 64px;
          padding-block-end: 128px;
        }
      }

      &__logo-link {
        display: contents;
      }

      &__logo-img {
        width: min(35%, 250px);
        margin-block-end: var(--form-panel-spacing);
      }
    }

    .join-sunder-form {
      @include body-font-styles;
      @include column-center;
      gap: 2em;
      width: 75%;

      @include mq-max("md") {
        width: calc(100% - var(--body-padding) * 2);
      }

      .form-block {
        position: relative;
        width: 100%;
        height: 2em;

        &:hover,
        &:focus-within {
          .label {
            opacity: 1;
          }
        }

        &:has(textarea) {
          height: 6em;
        }

        .label,
        .input {
          @include row-end(flex-start);
          font-size: inherit;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 0; // Device compatibility
        }
        .label {
          pointer-events: none;
          transition: 0.25s ease;
          opacity: 0.75;
          white-space: nowrap;

          .nested-label {
            font-size: max(0.9em, 13px);
            font-style: oblique;
            translate: 12px -6px;
            opacity: 0;
            visibility: hidden;
            transition: 0.6s $cubic-ease, opacity 0s;

            // &.text-error {
            //   color: var(--accent-color--tertiary);
            // }
          }
        }
        .input {
          border: none;
          border-bottom: 1px solid var(--font-color--primary);
          background-color: transparent;
          resize: none;
        }
      }

      .form-block-group {
        display: flex;
        gap: 12px;
        width: 100%;
      }

      .input:focus ~ .label,
      .input:not(:placeholder-shown).input:not(focus) ~ .label,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        translate: 0 -100%;
        font-size: 0.8em;

        .nested-label {
          translate: 8px -1px;
          opacity: 1;
          visibility: visible;

          transition: 0.6s $cubic-ease, opacity 0.6s $cubic-ease 0.4s;
        }
      }

      .recaptcha {
        @include mq-max("sm") {
          scale: 0.8;
        }
      }

      .cta {
        width: max(25%, 128px);
      }
    }
  }
}
