.main-opportunity {
  padding-block-start: var(--hero-top-padding);

  @include mq-max("lg") {
    padding-block-start: 212px;
  }

  @include mq-max("sm") {
    padding-block-start: 164px;
  }

  .hero {
    @include row-end(space-between);
    isolation: isolate; // Fixes mix-blend-mode issue when opening nav 1/2
    background-color: var(--background-color); // Helps fix issue above 2/2
    position: relative;
    padding-inline-start: var(--body-padding);
    padding-block-end: var(--body-padding);
    margin: 0 var(--body-padding) var(--section-spacing);
    font-size: clamp(48px, 5vw, 96px);

    @include mq-max("md") {
      margin-inline-end: 0;
      padding-block: 148px 48px;
      font-size: 40px;
      overflow: hidden;
    }

    @include mq-max("sm") {
      font-size: max(24px, 8vw);
    }

    &__title {
      font-size: inherit;
      flex-shrink: 0;
      line-height: 1.4;
      color: #fff;

      @include mq-min("lg") {
        mix-blend-mode: difference;
        line-height: 1.25;
      }

      @include mq-max("md") {
        line-height: 1.5;
      }
    }

    &__picture {
      display: flex; // fixes position issue
      width: min(40%, 850px);
      translate: 0 var(--body-padding);

      @media all {
        @include mq-max("lg") {
          position: absolute;
          bottom: var(--body-padding);
          right: 0;
          width: 400px;
          z-index: -1;
        }

        @include mq-max("md") {
          translate: calc(var(--body-padding) * 2) 0;
        }

        @include mq-max("sm") {
          width: min(100%, 320px);
        }
      }
    }

    &__backdrop {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #000;
      border-radius: 0 var(--radius-lg);
      width: 100%;
      height: 14ch;
      z-index: -2;

      @include mq-max("lg") {
        height: calc(100% + var(--body-padding));
      }

      @include mq-max("md") {
        height: calc(80% + var(--body-padding));
        border-top-right-radius: 0;
      }
    }
  }

  .quotes-section {
    @include column-center;
    padding-inline: var(--body-padding);
    margin-block-end: var(--section-spacing);

    @include mq-max("lg") {
      gap: 128px;
    }

    .quote-block {
      @include row-center(space-evenly);
      gap: 64px;

      @include mq-max("lg") {
        flex-direction: column-reverse;
      }

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        @include mq-max("lg") {
          flex-direction: column-reverse;
        }
      }

      // Handle additional quotes. Design only has divider for desktop
      &:has(+ .quote-block) {
        --divider-height: 250px;
        --padding: 24px;

        @include mq-max("xxl") {
          --divider-height: 180px;
        }

        @include mq-min("lg") {
          position: relative;
          margin-block-end: var(--divider-height);
          padding-block: var(--padding);

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            width: 2px;
            height: var(--divider-height);
            display: block;
            background-color: var(--font-color--primary);

            @include mq-max("xxl") {
              width: 1px;
            }
          }

          & + .quote-block {
            padding-block: var(--padding);
          }
        }
      }

      &__figure {
        position: relative;
        display: flex;
        border-radius: var(--radius-lg);
        overflow: hidden;
        flex-shrink: 0;
        width: min(30%, 580px);

        @include mq-max("lg") {
          width: min(100%, 420px);
        }

        &-caption {
          @include column-start;
          @include caption-gradient;
          position: absolute;
          bottom: 0;
          padding: 12px 24px 24px;
          width: 100%;
          color: var(--background-color);

          * {
            font-family: var(--font-family-heading);
            font-weight: 600;
          }

          &__name-first {
            font-size: 1.6em;

            @include mq-max("xs") {
              font-size: 1.4em;
            }
          }
          &__name-last {
            font-size: 2.4em;

            @include mq-max("xs") {
              font-size: 1.8em;
            }
          }
          &__role {
            font-weight: 400;
          }
        }
      }

      &__quote {
        @include mq-min("lg") {
          width: 40%;
        }

        &-title {
          margin-block-end: 64px;
          font-weight: 600;

          @include mq-max("xxl") {
            margin-block-end: 48px;
          }

          @include mq-max("lg") {
            margin-block-end: 16px;
          }
        }
      }
    }
  }

  .sunder-definition {
    overflow: hidden;

    &__pin {
      height: max(100lvh, 750px);
      @include row-center;

      @include mq-max("md") {
        height: 50lvh;
      }
    }

    &__title {
      color: var(--background-color);
      font-weight: 600;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;

      @include mq-max("lg") {
        font-size: 5vw;
      }

      span {
        position: absolute;
        white-space: nowrap;

        &:first-of-type {
          top: 50%;
          left: 50%;
          translate: -87% -75%;
        }
        &:last-of-type {
          bottom: 50%;
          right: 50%;
          translate: 87% 75%;
          text-align: right;
        }
      }
    }

    &__video {
      $video-transition: 0.3s ease;

      display: flex; // Fixes issue
      position: relative;
      border-radius: var(--radius-lg);
      overflow: hidden;
      width: min(50vw, 1200px);
      aspect-ratio: 2 / 1.1225; // Close to original video size (before object-fit: cover)
      cursor: pointer;

      @media all {
        @include mq-max("xxl") {
          width: 60vw;
        }

        @include mq-max("xl") {
          width: 80vw;
        }

        @include mq-max("lg") {
          aspect-ratio: 2 / 1.25;
        }
      }

      @include non-mobile-hover {
        // Not for when the video is playing
        &:not(.sunder-definition__video--active) {
          .sunder-definition__video-actual {
            scale: 1.05;
            filter: brightness(1.1);
          }
          .sunder-definition__video-icon-img:first-of-type {
            animation: video-icon__1 1.5s ease infinite;
          }
          .sunder-definition__video-icon-img:last-of-type {
            animation: video-icon__2 1.5s ease infinite;
          }
        }
      }

      &-title {
        // @include caption-gradient;
        background: linear-gradient(45deg, $sunder-navy, transparent);
        color: var(--background-color);
        font-weight: 600;
        text-align: left;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: var(--body-padding);

        transition: $video-transition;
      }

      &-icon {
        @include row-center;
        position: absolute;
        bottom: var(--body-padding);
        left: var(--body-padding);
        padding: 12px;
        z-index: 1;
        scale: 2.5;
        transform-origin: bottom left;
        overflow: hidden;

        transition: $video-transition;

        @include mq-max("md") {
          scale: 1.5;
        }

        @include mq-max("sm") {
          scale: 1;
        }

        &-img {
          position: absolute;
          background-color: var(--background-color);
          mask-image: url(../img/icon-play.svg);
          mask-repeat: no-repeat;
          mask-position: center;
          width: 100%;
          height: 100%;

          transition: $video-transition;

          &:first-of-type {
            translate: calc(-100% - 1ch) 0;
          }
        }
      }

      &-actual {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: $video-transition;
      }

      &--active {
        .sunder-definition__video-title,
        .sunder-definition__video-icon {
          opacity: 0;
        }
      }
    }
  }

  .sunder-growth {
    $color-active: #4693d4;
    $color-pending: #bcd0d7;

    @include dark-theme;
    position: relative;

    &__pin {
      @include column-start(flex-start);
      gap: 20vh;
      height: 100dvh;
      min-height: 750px;
      padding: var(--body-padding);

      @include mq-max("xl") {
        gap: 12vh;
      }
      @include mq-max("md") {
        align-items: center;
        min-height: 650px;
      }
      @include mq-max("sm") {
        min-height: 500px;
      }
    }

    &__title {
      opacity: 0;
      transition: 0.5s ease;

      @include mq-max("md") {
        align-self: flex-start;
      }

      &.show-item {
        opacity: 1;
      }
    }

    &__links {
      @include column-start;
      gap: 12px;

      @include mq-max("md") {
        flex-direction: row;
        align-items: flex-end;
        gap: 4px;
        scale: 0.8;
        height: 68%;
      }

      &-link {
        border-color: transparent;
        width: 96px;
        opacity: 0;
        transition: border 0.3s ease, opacity 0.5s ease;

        @include mq-max("md") {
          width: 72px;
        }

        @for $i from 1 through 10 {
          &:nth-last-of-type(#{$i}) {
            transition: 0.3s ease, opacity 0.5s ease 0.05s * $i;
          }
        }

        @include non-mobile-hover {
          border-color: var(--hero-color--primary);
          background: transparent;
        }

        &.active {
          background: $color-active;
        }
      }

      &.show-item {
        .sunder-growth__links-link {
          opacity: 1;

          @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
              transition: 0.3s ease, opacity 0.5s ease 0.05s * $i;
            }
          }
        }
      }
    }

    &__counter {
      $duration: 1s;
      $increment: 0.5s;
      $ease: $cubic-ease-slow-finish;

      @include column-end;
      position: absolute;
      bottom: calc(var(--body-padding) * 2);
      right: var(--body-padding);
      opacity: 0;
      transition: 0.5s ease;

      @include mq-max("lg") {
        bottom: auto;
        top: var(--body-padding);
      }

      .number-counter {
        display: flex;
      }

      .digit {
        display: block;
        width: 1ch;
        height: 1ch;
        overflow: hidden;

        &:nth-of-type(2) {
          .sequence {
            transition: transform 1.25s $ease 0s;
          }
        }
      }

      .sequence {
        display: block;
        transition: transform 0.75s $ease 0s;
      }

      &.show-item {
        opacity: 1;
      }
    }

    &__map {
      // @include absolute-center; postioning issue with gsap
      @include column-center;
      position: absolute;
      top: 20vh;
      left: 50%;
      translate: -50% 0;
      gap: 48px;
      width: min(50%, 1200px);

      @media all {
        @include mq-max("xxl") {
          gap: 24px;
          width: 47%;
        }
        @include mq-max("xl") {
          top: 22.5vh;
        }
        @include mq-max("lg") {
          top: 25vh;
        }
        @include mq-max("md") {
          width: 70%;
        }
        @include mq-max("sm") {
          top: 30vh;
        }
      }

      &-map {
        width: 100%;
        height: 100%;

        .state {
          stroke: $sunder-ice;
          fill: transparent;
          transition: fill 0.5s ease;

          &.active {
            fill: $color-active;
          }
          &.active-pending {
            fill: $color-pending;
          }
        }
      }

      &-key {
        @include row-center;
        gap: 64px;

        span {
          @include body-font-styles;
          @include row-center;
          gap: 1ch;

          &::before {
            content: "";
            display: flex;
            width: 12px;
            height: 12px;
            border-radius: 50%;
          }
        }

        &-active::before {
          background-color: $color-active;
        }
        &-pending::before {
          background-color: $color-pending;
        }
      }
    }

    &__static-markers {
      visibility: hidden !important;
      @include column-center(space-evenly);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 24px;
      height: 88%; // Delay start

      .growth-marker {
        background: linear-gradient($sunder-royal, transparent);
        width: 100%;
        flex: 1;
        scroll-margin-top: calc(50vh - 4px);
      }
    }
  }

  // Reusable graph section
  .graph-section {
    --section-y-padding: 13vw;
    --section-aspect-ratio: 1.5 / 1;
    --section-line-graph-aspect-ratio: 1.25 / 1;
    --graph-aspect-ratio: 1.5 / 1; // becomes different at 'md'

    @include row-start(flex-start);
    position: relative;
    padding-inline: var(--body-padding);
    width: 100vw;
    max-height: 1400px;
    aspect-ratio: var(--section-aspect-ratio);

    @include mq-max("md") {
      --section-y-padding: 25vw;
      --section-aspect-ratio: 0.9 / 1;
      --section-line-graph-aspect-ratio: 0.65 / 1;
    }

    @include mq-max("sm") {
      --section-y-padding: 45vw;
      --section-aspect-ratio: 0.7 / 1;
      --section-line-graph-aspect-ratio: 0.5 / 1;
    }

    &__title {
      position: sticky; // Requires all ancestors to NOT have any overflow property
      margin-block: var(--body-padding);
      align-self: flex-start;
      top: var(--body-padding);
    }

    &__graph {
      @include row-end(space-between);
      position: absolute;
      top: var(--section-y-padding);
      left: 50%;
      translate: -50% 0;
      width: min(60vw, 1200px);
      aspect-ratio: var(--graph-aspect-ratio);

      @include mq-min("xxxl") {
        top: 180px;
      }

      @include mq-max("md") {
        width: calc(100% - var(--body-padding) * 2);
      }

      &-year {
        @include h5;
        font-family: var(--font-family-body);
        font-weight: 600;
      }
    }

    &.safari-styles {
      width: calc(100vw - var(--scroll-bar-width));
    }
  }

  .sunder-bar-graph {
    $graph-color: #0093d4;
    background-color: var(--background-color); // Page bg-color fades

    .bar-graph {
      &__block {
        @include column-center(flex-end);
        gap: 16px;
        height: 100%;

        &:last-of-type {
          .bar-graph__bar-caption {
            font-weight: 600;
            scale: 1.75;
            transform-origin: top right;

            @include mq-max("md") {
              scale: 1.5;
            }

            &::after {
              content: "Growth";
              @include body-font-styles;
              color: currentColor;
              position: absolute;
              top: 100%;
              right: 0;

              @include mq-max("sm") {
                font-size: 11px;
              }
            }
          }
        }

        &.animate {
          @include mq-motion-allow {
            .bar-graph__bar {
              transition: 1s ease;
              height: var(--bar-height);

              &-caption {
                transition: opacity 1s ease 0.75s;
                opacity: 1;
              }
            }
          }
        }
      }

      &__bar {
        position: relative;
        display: flex;
        background: linear-gradient(
          180deg,
          $graph-color 10%,
          rgba(0, 147, 212, 0)
        );
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
        width: 75%;
        height: var(--bar-height); // variable set from CMS via inline style.

        @include mq-motion-allow {
          height: 0;
        }

        &-caption {
          // Visit block above for ::after "Growth"
          color: $graph-color;
          position: absolute;
          right: calc(100% + 0.5ch);
          top: 0.5ch;

          @include mq-motion-allow {
            opacity: 0;
          }
        }
      }

      &__year {
        height: 24px;
      }
    }
  }

  .sunder-line-graph {
    @include dark-theme;
    aspect-ratio: var(--section-line-graph-aspect-ratio);

    .line-graph {
      .svg-line,
      .svg-dots {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }

      .line-graph__years {
        --offset: 64px;
        @include row-end(space-between);
        width: 100%;
        height: 100%;

        @include mq-max("xl") {
          --offset: 48px;
        }

        @include mq-max("lg") {
          --offset: 24px;
        }

        &-column {
          @include column-center(space-between);
          position: relative;
          flex-direction: column-reverse;

          &-label {
            @include h5;
            content: attr(data-stat);
            font-family: var(--font-family-body);
            position: absolute;
            top: 0;
            right: 0;
            white-space: nowrap;

            @include mq-motion-allow {
              opacity: 0;
              translate: -12px 0;
            }
          }

          &.column-2019 {
            height: 14%;

            .line-graph__years-column-label {
              @include mq-max("md") {
                right: auto;
                left: 0;
              }
            }

            @include mq-max("lg") {
              height: 17%;
            }

            @include mq-max("md") {
              height: 20%;
            }

            @include mq-max("sm") {
              height: 25%;
            }
          }
          &.column-2020 {
            height: 37%;

            @include mq-max("lg") {
              height: 40%;
            }

            @include mq-max("sm") {
              height: 45%;
            }
          }
          &.column-2021 {
            height: 70%;

            @include mq-max("lg") {
              height: 73%;
            }

            @include mq-max("sm") {
              height: 78%;
            }
          }
          &.column-2022 {
            height: 104%;

            @include mq-max("lg") {
              height: 107%;
            }

            @include mq-max("sm") {
              height: 112%;
            }
          }
        }

        &-year {
          translate: 0 var(--offset);
        }
      }

      &.animate {
        @include mq-motion-allow {
          $line-graph-ease: cubic-bezier(0.47, 0, 0.745, 0.715);

          .svg-line {
            animation: line-graph__line 1.4s $line-graph-ease 0s both;
          }

          .svg-dots {
            &__dot {
              animation: line-graph__dot 0.4s $line-graph-ease 0s both,
                animate-svg-fill-1 0s $line-graph-ease 0s both;
            }
            @for $i from 1 through 4 {
              &__dot-#{$i} {
                animation-delay: 0.225s * $i;
              }
            }
          }

          .line-graph__years-column {
            @for $i from 1 through 4 {
              &:nth-of-type(#{$i}) {
                .line-graph__years-column-label {
                  transition: 0.5s ease 0.225s * $i;
                  opacity: 1;
                  translate: 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
