.main-opportunity {
  padding-block-start: var(--hero-top-padding);

  @include mq-max("lg") {
    padding-block-start: 212px;
  }

  @include mq-max("sm") {
    padding-block-start: 164px;
  }

  .hero {
    @include row-end(space-between);
    isolation: isolate; // Fixes mix-blend-mode issue when opening nav 1/2
    background-color: var(--background-color); // Helps fix issue above 2/2
    position: relative;
    padding-inline-start: var(--body-padding);
    padding-block-end: var(--body-padding);
    margin: 0 var(--body-padding) var(--section-spacing);
    font-size: clamp(48px, 5vw, 96px);

    @include mq-max("md") {
      margin-inline-end: 0;
      padding-block: 148px 48px;
      font-size: 40px;
      overflow: hidden;
    }

    @include mq-max("sm") {
      font-size: max(24px, 8vw);
    }

    &__title {
      font-size: inherit;
      flex-shrink: 0;
      line-height: 1.4;
      color: #fff;

      @include mq-min("lg") {
        mix-blend-mode: difference;
        line-height: 1.25;
      }

      @include mq-max("md") {
        line-height: 1.5;
      }
    }

    &__picture {
      display: flex; // fixes position issue
      width: min(40%, 850px);
      translate: 0 var(--body-padding);

      @media all {
        @include mq-max("lg") {
          position: absolute;
          bottom: var(--body-padding);
          right: 0;
          width: 400px;
          z-index: -1;
        }

        @include mq-max("md") {
          translate: calc(var(--body-padding) * 2) 0;
        }

        @include mq-max("sm") {
          width: min(100%, 320px);
        }
      }
    }

    &__backdrop {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #000;
      border-radius: 0 var(--radius-lg);
      width: 100%;
      height: 14ch;
      z-index: -2;

      @include mq-max("lg") {
        height: calc(100% + var(--body-padding));
      }

      @include mq-max("md") {
        height: calc(80% + var(--body-padding));
        border-top-right-radius: 0;
      }
    }
  }

  .quotes-section {
    @include column-center;
    padding-inline: var(--body-padding);
    margin-block-end: var(--section-spacing);

    @include mq-max("lg") {
      gap: 128px;
    }

    .quote-block {
      @include row-center;
      gap: 64px;

      @include mq-max("lg") {
        flex-direction: column-reverse;
      }

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        @include mq-max("lg") {
          flex-direction: column-reverse;
        }
      }

      // Handle additional quotes. Design only has divider for desktop
      &:has(+ .quote-block) {
        --divider-height: 250px;
        --padding: 24px;

        @include mq-max("xxl") {
          --divider-height: 180px;
        }

        @include mq-min("lg") {
          position: relative;
          margin-block-end: var(--divider-height);
          padding-block: var(--padding);

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            width: 2px;
            height: var(--divider-height);
            display: block;
            background-color: var(--font-color--primary);

            @include mq-max("xxl") {
              width: 1px;
            }
          }

          & + .quote-block {
            padding-block: var(--padding);
          }
        }
      }

      &__figure {
        position: relative;
        display: flex;
        border-radius: var(--radius-lg);
        overflow: hidden;
        flex-shrink: 0;
        width: min(30%, 580px);

        @include mq-max("lg") {
          width: min(100%, 420px);
        }

        &-caption {
          @include column-start;
          @include caption-gradient;
          position: absolute;
          bottom: 0;
          padding: 12px 24px 24px;
          width: 100%;
          color: var(--background-color);

          * {
            font-family: var(--font-family-heading);
            font-weight: 600;
          }

          &__name-first {
            font-size: 1.6em;

            @include mq-max("xs") {
              font-size: 1.4em;
            }
          }
          &__name-last {
            font-size: 2.4em;

            @include mq-max("xs") {
              font-size: 1.8em;
            }
          }
          &__role {
            font-weight: 400;
          }
        }
      }

      &__quote {
        @include mq-min("lg") {
          width: 50%;
        }

        &-title {
          margin-block-end: 64px;
          font-weight: 600;

          @include mq-max("xxl") {
            margin-block-end: 48px;
          }

          @include mq-max("lg") {
            margin-block-end: 16px;
          }
        }
      }
    }
  }

  .sunder-definition {
    overflow: hidden;

    &__pin {
      height: max(100dvh, 750px);
      @include row-center;

      @include mq-max("md") {
        height: 50dvh;
      }
    }

    &__title {
      color: var(--background-color);
      font-weight: 600;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;

      @include mq-max("lg") {
        font-size: 5vw;
      }

      span {
        position: absolute;
        white-space: nowrap;

        &:first-of-type {
          top: 50%;
          left: 50%;
          translate: -87% -75%;
        }
        &:last-of-type {
          bottom: 50%;
          right: 50%;
          translate: 87% 75%;
          text-align: right;
        }
      }
    }

    &__video {
      $video-transition: 0.3s ease;

      display: flex; // Fixes issue

      position: relative;
      border-radius: var(--radius-lg);
      overflow: hidden;
      width: min(50vw, 1200px);
      aspect-ratio: 2 / 1.1225; // Close to original video size (before object-fit: cover)
      cursor: pointer;

      @media all {
        @include mq-max("xxl") {
          width: 60vw;
        }

        @include mq-max("xl") {
          width: 80vw;
        }

        @include mq-max("lg") {
          aspect-ratio: 2 / 1.25;
        }
      }

      // Experimental :hover & :focus-visible only on desktop
      @include non-mobile-hover {
        // Not for when the video is playing
        &:not(.sunder-definition__video--active) {
          .sunder-definition__video-actual {
            scale: 1.05;
            filter: brightness(1.1);
          }
          .sunder-definition__video-icon-img:first-of-type {
            animation: video-icon__1 1.5s ease infinite;
          }
          .sunder-definition__video-icon-img:last-of-type {
            animation: video-icon__2 1.5s ease infinite;
          }
        }
      }

      &-title {
        // @include caption-gradient;
        // background-color: rgba($sunder-navy, 0.5);
        background: linear-gradient(45deg, $sunder-navy, transparent);
        color: var(--background-color);
        font-weight: 600;
        text-align: left;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: var(--body-padding);

        transition: $video-transition;
      }

      &-icon {
        @include row-center;
        position: absolute;
        bottom: var(--body-padding);
        left: var(--body-padding);
        padding: 12px;
        z-index: 1;
        scale: 2.5;
        transform-origin: bottom left;
        overflow: hidden;

        transition: $video-transition;

        @include mq-max("md") {
          scale: 1.5;
        }

        @include mq-max("sm") {
          scale: 1;
        }

        &-img {
          position: absolute;
          background-color: var(--background-color);
          mask-image: url(../img/icon-play.svg);
          mask-repeat: no-repeat;
          mask-position: center;
          width: 100%;
          height: 100%;

          transition: $video-transition;

          &:first-of-type {
            translate: calc(-100% - 1ch) 0;
          }
        }
      }

      &-actual {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: $video-transition;
      }

      &--active {
        .sunder-definition__video-title,
        .sunder-definition__video-icon {
          opacity: 0;
        }
      }
    }
  }

  .sunder-growth {
    @include dark-theme;
    height: 100dvh;
  }

  // Reusable
  .graph-section {
    @include row-start(flex-start);
    position: relative;
    padding-inline: var(--body-padding);
    height: max(100dvh, 1080px); // For xxxl screens. Also fixes footer spacing.

    @include mq-max("lg") {
      min-height: 768px;
    }

    &__title {
      position: sticky; // Requires all ancestors to NOT have any overflow property
      margin-block: var(--body-padding);
      align-self: flex-start;
      top: var(--body-padding);
    }

    &__graph {
      border: $test;
      @include absolute-center;
      @include row-end(space-between);
      width: min(65%, 1512px);
      aspect-ratio: 1.5 / 1;

      @include mq-max("md") {
        width: calc(100% - var(--body-padding) * 2);
        aspect-ratio: 0.75 / 1;
      }
    }
  }

  .sunder-bar-graph {
    $graph-color: #0093d4;
    background-color: var(--background-color); // Page fades to dark

    .bar-graph {
      &__block {
        @include column-center(flex-end);
        gap: 16px;
        height: 100%;

        &:last-of-type {
          .bar-graph__bar-caption {
            font-weight: 600;
            scale: 1.75;
            transform-origin: top right;

            @include mq-max("md") {
              scale: 1.5;
            }

            &::after {
              content: "Growth";
              @include body-font-styles;
              color: currentColor;
              position: absolute;
              top: 100%;
              left: 0;
            }
          }
        }

        &.animate {
          @include mq-motion-allow {
            .bar-graph__bar {
              transition: 1s ease;
              height: var(--bar-height);

              &-caption {
                transition: opacity 1s ease 0.75s;
                opacity: 1;
              }
            }
          }
        }
      }

      &__bar {
        position: relative;
        display: flex;
        background: linear-gradient(
          180deg,
          $graph-color 10%,
          rgba(0, 147, 212, 0)
        );
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
        width: 75%;

        @include mq-motion-allow {
          height: 0;
        }
        @include mq-motion-reduce {
          height: var(--bar-height); // variable set from CMS via inline style.
        }

        &-caption {
          color: $graph-color;
          position: absolute;
          right: calc(100% + 0.5ch);
          top: 0.5ch;

          @include mq-motion-allow {
            opacity: 0;
          }
        }
      }

      &__year {
        font-family: var(--font-family-body);
        height: 24px;
        font-weight: 600;
      }
    }
  }

  .sunder-line-graph {
    @include dark-theme;
    // margin-block-end: 164px; // This only works since the background changes. Otherwise it'll show white.
  }
}
