.main-resources {
  padding-block-start: 136px;

  @include mq-max("xxl") {
    padding-block-start: 112px;
  }

  .hero {
    @include row-start(space-between);

    @media all {
      @include mq-min("lg") {
        padding-inline-start: var(--body-padding);
      }

      @include mq-max("lg") {
        flex-direction: column-reverse;
        gap: 128px;
      }
    }

    &__caption {
      @include column-center;
      gap: 24px;

      @include mq-min("lg") {
        position: sticky;
        top: 50vh;
        translate: 0 -50%;
        align-items: flex-start;
        gap: 40px;
      }

      .hero__title {
        font-weight: 600; // Possibly organize with heading level?

        @include mq-max("lg") {
          text-align: center;
        }

        @include mq-max("sm") {
          padding-inline: 24px; // for text-wrap
        }
      }

      .hero__subtitle {
        @include mq-max("lg") {
          text-align: center;
        }

        .floating-text {
          display: inline-block;
          margin-inline-end: 0.5ch;
        }
      }
    }

    .image-group {
      @include column-start;
      gap: var(--body-padding);
      width: 50%;

      @include mq-max("lg") {
        width: 100%;
      }

      &__image {
        border-radius: var(--radius) 0 0 var(--radius);
        align-self: flex-end;

        @include mq-max("lg") {
          width: calc(100% - var(--body-padding));
        }

        &:nth-of-type(2) {
          @include mq-max("lg") {
            border-radius: 0 var(--radius) var(--radius) 0;
            align-self: flex-start;
          }
        }
      }
    }
  }

  .meet-the-team {
    padding: 128px 0;

    .pinned {
      @include row-center;
      height: 100dvh;

      .slot-text {
        @include row-start;
        font-weight: 300;
        text-align: center;

        @include mq-max("md") {
          font-size: max(4.2vw, 20px);
        }

        &__slider {
          --offset: 0.5ch;

          @include column-center(flex-start);
          position: relative;
          height: calc(1ch + calc(var(--offset) * 2));
          padding-block-start: var(--offset);
          translate: 0 calc(var(--offset) * -1);
          overflow: hidden;
          font-weight: 600;

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            z-index: 1;
          }
          &::before {
            top: 0;
            background: linear-gradient(var(--background-color), transparent);
            translate: 0 -4px;
          }
          &::after {
            bottom: 0;
            background: linear-gradient(
              to top,
              var(--background-color),
              transparent
            );
            translate: 0 4px;
          }

          &-inner:first-of-type {
            padding-block-end: 24px; // tie this with gsap

            @include mq-max("sm") {
              padding-block-end: 4px; // tie this with gsap
            }
          }
        }
      }
    }

    .team-portraits {
      @include row-center;
      flex-wrap: wrap;
      gap: 24px;
      padding-inline: var(--body-padding);

      @include mq-max("xl") {
        gap: 16px;
      }

      .figure {
        display: flex;
        position: relative;
        border-radius: var(--radius);
        overflow: hidden;
        flex: 1;

        @include mq-max("lg") {
          flex: 1 0 320px;
        }

        &__caption {
          @include column-start;
          @include caption-gradient;
          position: absolute;
          bottom: 0;
          padding: 24px;

          @include mq-max("xl") {
            padding: 16px;
          }

          &-name,
          &-role {
            font-family: $font-family-heading;
          }

          &-name {
            @include h6;
          }

          &-role {
            font-weight: 300;
          }
        }
      }
    }
  }

  .enzy {
    background-color: aquamarine;
    height: 100vh;
    padding-inline: var(--body-padding);

    .enzy-hero {
      @include row-center(space-between);
    }
  }
}
