.main-resources {
  padding-block-start: var(--hero-top-padding);

  .hero {
    @include row-start(space-between);

    @media all {
      @include mq-min("lg") {
        padding-inline-start: var(--body-padding);
      }

      @include mq-max("lg") {
        flex-direction: column-reverse;
        align-items: center;
        gap: 128px;
      }
    }

    &__caption {
      @include column-center;
      gap: 24px;

      @include mq-min("lg") {
        position: sticky;
        top: 50vh;
        translate: 0 -50%;
        align-items: flex-start;
        gap: 40px;
      }

      .hero__title {
        font-weight: 600; // Possibly organize with heading level?

        @include mq-max("lg") {
          text-align: center;
          text-wrap: balance;
        }

        @include mq-max("sm") {
          padding-inline: 24px; // for text-wrap
        }
      }

      .hero__subtitle {
        @include mq-max("lg") {
          text-align: center;
        }

        .floating-text {
          display: inline-block;
          margin-inline-end: 0.5ch;
        }
      }
    }

    .image-group {
      --img-spacing: var(--body-padding);

      @include column-start;
      gap: var(--img-spacing);
      width: 50%;

      @include mq-max("lg") {
        --img-spacing: calc(var(--body-padding) * 2.5);

        width: 100%;
      }

      &__image {
        border-radius: var(--radius) 0 0 var(--radius);
        align-self: flex-end;

        @include mq-max("lg") {
          width: min(calc(100% - var(--img-spacing)), 650px);
        }

        &:nth-of-type(2) {
          @include mq-max("lg") {
            border-radius: 0 var(--radius) var(--radius) 0;
            align-self: flex-start;
          }
        }
      }
    }
  }

  .meet-the-team {
    padding: 128px 0;

    .pinned {
      @include row-center;
      height: 100vh;

      @include mq-max("md") {
        height: 50vh;
      }

      .slot-text {
        @include row-start;
        font-weight: 300;
        text-align: center;

        @include mq-max("md") {
          font-size: max(4.2vw, 20px);
        }

        &__slider {
          --offset: 0.5ch;

          @include column-center(flex-start);
          position: relative;
          height: calc(1ch + calc(var(--offset) * 2));
          padding-block-start: var(--offset);
          translate: 0 calc(var(--offset) * -1);
          overflow: hidden;
          font-weight: 600;

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            z-index: 1;
          }
          &::before {
            top: 0;
            background: linear-gradient(var(--background-color), transparent);
            translate: 0 -4px;
          }
          &::after {
            bottom: 0;
            background: linear-gradient(
              to top,
              var(--background-color),
              transparent
            );
            translate: 0 4px;
          }

          &-inner:first-of-type {
            padding-block-end: 24px; // tie this with gsap

            @include mq-max("sm") {
              padding-block-end: 4px; // tie this with gsap
            }
          }
        }
      }
    }

    .team-portraits {
      @include row-center;
      flex-wrap: wrap;
      gap: 24px;
      padding-inline: var(--body-padding);
      scroll-margin-top: 20vh;

      @include mq-max("xl") {
        gap: 16px;
      }

      .figure {
        display: flex;
        position: relative;
        border-radius: var(--radius);
        overflow: hidden;
        flex: 1;

        // gsap-animate
        @include mq-motion-allow {
          opacity: 0;

          @include mq-min("md") {
            translate: 0 20%;
          }

          &.animate {
            opacity: 1;
            translate: 0 0;
            transition: 0.5s ease 0.15s;

            @for $i from 1 through 4 {
              &:nth-of-type(#{$i}) {
                transition-delay: 0.075s * $i;
              }
            }
          }
        }

        @include mq-min("sm") {
          max-width: 75%;
        }
        @include mq-max("lg") {
          flex: 1 0 320px;
        }

        &__caption {
          @include column-start;
          @include caption-gradient;
          position: absolute;
          bottom: 0;
          padding: 24px;

          @include mq-max("xl") {
            padding: 16px;
          }

          &-name,
          &-role {
            font-family: var(--font-family-heading);
          }

          &-name {
            @include h6;
          }

          &-role {
            font-weight: 300;
          }
        }
      }
    }
  }

  .enzy {
    --font-family-heading: #{$enzy-font};
    --font-family-body: #{$enzy-font};
    --gradient-distance: 180%;

    overflow: hidden; // text animation translate causing x-scroll on mobile
    background: linear-gradient(
      180deg,
      #6ca793,
      rgba(108, 167, 147, 0) var(--gradient-distance)
    );

    @include mq-max("lg") {
      --gradient-distance: 240%;
    }

    .enzy-hero {
      --children-width: 40%;
      --section-spacing: 196px; // Make this global?

      @include row-start(space-evenly);
      isolation: isolate;
      position: relative;
      padding-block: var(--section-spacing);
      margin-block-end: var(--section-spacing);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("/static/img/resources-enzy-glyph.svg");
        background-size: cover;
        background-position: 50% 120%;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: -1;

        @include mq-max("lg") {
          opacity: 0.25;
        }
      }

      @media all {
        @include mq-max("xxl") {
          --section-spacing: 148px;
        }

        @include mq-max("lg") {
          --children-width: 100%;

          flex-direction: column;
          align-items: center;
        }

        @include mq-max("xxl") {
          --section-spacing: 148px;
        }

        @include mq-max("lg") {
          --section-spacing: 96px;
        }
      }

      &__caption {
        @include column-start;
        gap: 48px;
        padding-inline: var(--body-padding);
        width: var(--children-width);
        padding-block-start: 196px;

        @include mq-max("xxl") {
          padding-block-start: 128px;
        }

        @include mq-max("lg") {
          align-items: center;
          padding-block: 0 calc(var(--section-spacing) / 1.25);
        }

        .enzy-logo {
          width: 75%;

          @include mq-max("lg") {
            width: max(50%, 216px);
          }
        }

        // First cta instance
        .cta {
          @include mq-min("lg") {
            margin-inline-start: 22%;
          }
          @include mq-max("lg") {
            display: none;
          }
        }
      }

      &__figure {
        @include column-center;
        padding-inline: var(--body-padding);
        width: var(--children-width);

        @include mq-max("lg") {
          width: 75%;
          margin-block-end: 48px;
        }

        @include mq-max("md") {
          width: 100%;
        }

        &-caption {
          font-size: max(2vw, 24px);
          font-weight: 700;
          text-align: center;

          @include mq-max("sm") {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }

      // Second cta instance
      & > .cta {
        @include mq-min("lg") {
          display: none;
        }
      }
    }

    .enzy-features {
      --font-color--primary: var(--background-color);

      @include column-center;

      @media all {
        @include mq-max("lg") {
          gap: 164px;
        }

        @include mq-max("sm") {
          gap: 96px;
        }
      }

      .feature-block {
        @include row-center(space-around);
        position: relative;
        width: 100%;

        @include mq-max("lg") {
          @include column-center;
          gap: 24px;
        }

        // gsap-animate
        @include mq-motion-allow {
          .feature-block__img {
            opacity: 0;
            scale: 0.95;
          }
          .feature-block__caption-title,
          .feature-block__caption-description {
            opacity: 0;
            translate: 25% 0;
          }

          &.animate {
            .feature-block__img,
            .feature-block__caption-title,
            .feature-block__caption-description {
              opacity: 1;
              translate: 0 0;
              scale: 1;
            }

            .feature-block__img {
              transition: 0.5s ease 0.25s;

              @include mq-max("lg") {
                transition-delay: 0s;
              }
            }
            .feature-block__caption-title {
              transition: 0.5s ease 0.25s;
            }
            .feature-block__caption-description {
              transition: 0.5s ease 0.3s;
            }
          }
        }

        &:nth-of-type(even) {
          flex-direction: row-reverse;

          @include mq-max("lg") {
            flex-direction: column;
          }
        }

        &:first-of-type {
          &::after {
            top: 50%;
            height: 50%;
          }
        }

        &:last-of-type {
          &::after {
            bottom: 50%;
            height: 50%;
          }
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: var(--background-color);

          @include mq-max("lg") {
            display: none;
          }
        }

        &::before {
          padding: 8px;
          border-radius: 50%;
        }

        &::after {
          height: 100%;
          width: 2px;
        }

        &__img,
        &__caption {
          @include mq-min("lg") {
            width: 25%;
          }
        }

        &__caption {
          @include column-center;
          color: var(--background-color);

          &-title {
            @include h2;
            font-weight: 700;
            margin-block-end: 24px;

            @include mq-max("sm") {
              font-weight: 600;
              margin-block-end: 12px;
            }
          }
          &-description {
            @include h4;
            font-weight: 200;
            white-space: nowrap;

            @include mq-max("sm") {
              font-weight: 400;
            }
          }
        }

        &__img {
          @include mq-max("lg") {
            width: 50%;
          }
        }
      }
    }
  }
}
