---
layout: app
path: experience

title: Join Sunder | Experience
description: Immerse yourself in the Sunder experience with our photo and video gallery. From incentive trips to service opportunities, discover the unforgettable moments that come with being part of our team.

# master props
header_fixed: false
header_logo_color: dark
show_header_cta: false
---

<section class="hero">
  <h1 class="sr-only">{{ page_experience_images.page_heading }}</h1>

  <div class="image-reel">
    <div
      class="image-reel__column image-reel__column-1 image-reel__column-1--experience"
    >
      <!-- prettier-ignore -->
      {% for img in page_experience_images.img_reel_1 %}
      <img 
        src="{{ img.src }}" 
        alt="{{ img.alt }}" 
        width="356"
        {%if loop.index0 % 2 == 0%}
          height="472"
        {%else%}
          height="236"
        {%endif%}
        {%if loop.index > 3 %}
          loading="lazy"
        {%endif%}
      />
      {% endfor %}
    </div>
    <div class="image-reel__column image-reel__column-2">
      <!-- prettier-ignore -->
      {% for img in page_experience_images.img_reel_2 %}
      <img 
      src="{{ img.src }}" 
      alt="{{ img.alt }}" 
      width="356"
      {%if loop.index0 % 2 == 0%}
        height="236"
      {%else%}
        height="472"
      {%endif%}
      {%if loop.index > 3 %}
        loading="lazy"
      {%endif%}
      />
      {% endfor %}
    </div>
    <div
      class="image-reel__column image-reel__column-3 image-reel__column-3--experience"
    >
      <!-- prettier-ignore -->
      {% for img in page_experience_images.img_reel_3 %}
      <img 
      src="{{ img.src }}" 
      alt="{{ img.alt }}" 
      width="356"
      {%if loop.index0 % 2 == 0%}
        height="472"
      {%else%}
        height="236"
      {%endif%}
      {%if loop.index > 3 %}
        loading="lazy"
      {%endif%}
      />
      {% endfor %}
    </div>
    <div class="image-reel__column image-reel__column-4">
      <!-- prettier-ignore -->
      {% for img in page_experience_images.img_reel_4 %}
      <img 
      src="{{ img.src }}" 
      alt="{{ img.alt }}" 
      width="356"
      {%if loop.index0 % 2 == 0%}
        height="236"
      {%else%}
        height="472"
      {%endif%}
      {%if loop.index > 3 %}
        loading="lazy"
      {%endif%}
      />
      {% endfor %}
    </div>
  </div>
</section>

<section class="video-library" id="video-library">
  <!-- prettier-ignore -->
  {% set video_data = page_experience_videos.video_library %}
  {% set load_preference = 'high' %}
  {% include "./_includes/components/video-carousel.html" %}
</section>
