---
layout: app
path: home

title: Join Sunder Energy | Join the best
description: Sample description // CHANGE ME

# master props
header_fixed: true
header_logo_color: light
show_header_cta: false
# Page notes
# Using eager loading for computed/dynamic height. Only use fetchpriority sparingly
---

<section class="hero">
  <div class="text-group">
    <h1 class="h1 hero-text">{{ page_home.hero_text }}</h1>

    <div class="cta-group">
      <!-- prettier-ignore -->
      {% set btn_size = "lg"%}
      {% include "./_includes/components/cta.html" %}
  
      {% set cta_vid_embed = page_home.video_embed %}
      {% include "./_includes/components/cta-video.html" %}
    </div>
  </div>

  <div class="image-reel">
    <div
      class="image-reel__column image-reel__column-1 image-reel__column-1--home"
    >
      <!-- prettier-ignore -->
      {% for img in page_home.img_reel | slice(0, 12) %}
      <img
        src="{{ img.src }}"
        alt="{{ img.alt }}"
        loading="eager"
        fetchpriority="auto"
        width="360"
        {%if loop.index0 % 2 == 0%}
          height="240"
        {%else%}
          height="480"
        {%endif%}
      />
      {% endfor %}
    </div>

    <div class="image-reel__column image-reel__column-2">
      {% for img in page_home.img_reel | slice(12) %}
      <img
        src="{{ img.src }}"
        alt="{{ img.alt }}"
        loading="eager"
        fetchpriority="auto"
      />
      {% endfor %}
    </div>
  </div>
</section>
