---
layout: app
path: opportunity

title: Join Sunder | Opportunity
description: Sample description // CHANGE ME

# master props
header_fixed: false
header_logo_color: dark
show_header_cta: true
footer_gradient: site-footer--sunder-colors
---

<section class="hero">
  <h1 class="h1 hero__title">{{ page_opportunity_hero.heading }}</h1>

  <picture class="hero__picture">
    <source
      srcset="{{ page_opportunity_hero.hero_img_sm }}"
      media="(max-width: 1024px)"
      type="image/webp"
    />
    <source
      srcset="{{ page_opportunity_hero.hero_img_lg }}"
      media="(min-width: 1025px)"
      type="image/webp"
    />
    <img
      class="hero__img"
      src="{{ page_opportunity_hero.hero_img_lg }}"
      alt=""
      loading="eager"
      width="480"
      height="480"
    />
  </picture>
  <div class="hero__backdrop" aria-hidden="true"></div>
</section>

<section class="quotes-section" id="quotes-section">
  <h2 class="sr-only">
    <!-- prettier-ignore -->
    {% if page_opportunity_quotes.section_title %}
      {{ page_opportunity_quotes.section_title }}
    {% else %}
      Insights from our leaders
    {% endif %}
  </h2>

  {% for quote in page_opportunity_quotes.quotes %}
  <div class="quote-block">
    <figure class="quote-block__figure">
      <img
        class="quote-block__figure-img"
        src="{{ quote.img }}"
        alt=""
        width="360"
        height="360"
      />
      <figcaption class="quote-block__figure-caption">
        <span class="quote-block__figure-caption__name-first">
          {{ quote.name_first }}
        </span>
        <span class="quote-block__figure-caption__name-last">
          {{ quote.name_last }}
        </span>
        <span class="quote-block__figure-caption__role">
          {{ quote.role }}
        </span>
      </figcaption>
    </figure>
    <div class="quote-block__quote">
      <h3 class="quote-block__quote-title">{{ quote.quote_title }}</h3>
      <blockquote class="quote-block__quote-actual">
        “{{ quote.quote }}”
      </blockquote>
    </div>
  </div>
  {% endfor %}
</section>

<section class="sunder-definition" id="sunder-definition">
  <div class="sunder-definition__pin">
    <h2 class="sunder-definition__title">
      <span
        class="sunder-definition__title-scrub sunder-definition__title-scrub-1"
      >
        We are the <br aria-hidden="true" />
        leaders
      </span>
      <span
        class="sunder-definition__title-scrub sunder-definition__title-scrub-2"
      >
        in the solar <br aria-hidden="true" />
        industry
      </span>
    </h2>
    <button
      class="sunder-definition__video tab-element-page"
      aria-pressed="false"
    >
      {% if page_opportunity_definition.video_title %}
      <h3 class="sunder-definition__video-title">
        {{ page_opportunity_definition.video_title }}
      </h3>
      {% endif %}
      <span class="sunder-definition__video-icon">
        <span class="sunder-definition__video-icon-img"></span>
        <span class="sunder-definition__video-icon-img"></span>
      </span>
      <video
        class="sunder-definition__video-actual"
        poster="{{ page_opportunity_definition.video_img }}"
        src="{{ page_opportunity_definition.video_src }}"
        type="video/mp4"
        preload="none"
        width="850"
        aria-label="{{ page_opportunity_definition.video_transcript }}"
      ></video>
    </button>
  </div>
</section>

<section class="sunder-growth" id="sunder-growth">
  <div class="sunder-growth__pin">
    <h2 class="sunder-growth__title h3">
      {{ page_opportunity_growth.section_title }}
    </h2>

    <div class="sunder-growth__links">
      {% for year in page_opportunity_growth.growth_data %}
      <a
        class="cta sunder-growth__links-link growth-link-{{ loop.index }}"
        href="#growth-marker-{{loop.index}}"
      >
        {{ year.year }}
      </a>
      {% endfor %}
    </div>

    <div class="sunder-growth__counter">
      <h3 class="h1 number-counter" id="state-count" data-counter-value="48">
        <span class="digit">
          <span class="sequence" aria-hidden="true">
            0<br />
            1<br />
            2<br />
            3<br />
            4<br />
            5<br />
            6<br />
            7<br />
            8<br />
            9
          </span>
        </span>
        <span class="digit">
          <span class="sequence" aria-hidden="true">
            0<br />
            1<br />
            2<br />
            3<br />
            4<br />
            5<br />
            6<br />
            7<br />
            8<br />
            9
          </span>
        </span>
      </h3>

      <label class="h5" for="state-count">States</label>
    </div>
  </div>

  <div class="sunder-growth__static-markers" aria-hidden="true">
    {% for year in page_opportunity_growth.growth_data %}
    <div
      class="growth-marker marker-{{ loop.index }}"
      data-counter-value="{{ year.state_count }}"
      id="growth-marker-{{ loop.index }}"
    ></div>
    {% endfor %}
  </div>
</section>

<section class="sunder-bar-graph graph-section" id="sunder-bar-graph">
  <h2 class="graph-section__title h3">
    {{page_opportunity_salesforce.section_title}}
  </h2>

  <div class="bar-graph graph-section__graph" role="region">
    {% for bar in page_opportunity_salesforce.bar_graph %}
    <div class="bar-graph__block gsap-animate">
      <div class="bar-graph__bar" style="--bar-height: {{ bar.height }}%;">
        {% if bar.caption %}
        <h4 class="bar-graph__bar-caption">{{ bar.caption }}</h4>
        {% endif %}
      </div>
      <h3 class="bar-graph__year graph-section__graph-year">{{ bar.year }}</h3>
    </div>
    {% endfor %}
  </div>
</section>

<section class="sunder-line-graph graph-section" id="sunder-line-graph">
  <h2 class="graph-section__title h3">
    Kilowatts
    <br aria-hidden="true" />
    Installed
  </h2>

  <div class="line-graph graph-section__graph gsap-animate" role="region">
    <svg
      class="svg-line"
      width="1310"
      height="855"
      viewBox="0 0 1310 855"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1272 34L1066.63 197.13L858.021 350.569L664.777 483.819L463.447 629.182L250.798 746.28L43 823"
        stroke="url(#paint0_linear_913_4)"
        stroke-width="10"
        id="lineGraphPath"
      ></path>
      <defs>
        <linearGradient
          id="paint0_linear_913_4"
          x1="1018.5"
          y1="81.5"
          x2="195.613"
          y2="642.399"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#0194D5"></stop>
          <stop offset="1" stop-color="white"></stop>
        </linearGradient>
      </defs>
    </svg>
    <svg
      class="svg-dots"
      width="1310"
      height="855"
      viewBox="0 0 1310 855"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="25"
        cy="830"
        r="18.5"
        stroke="white"
        stroke-width="13"
        class="svg-dots__dot svg-dots__dot-1"
      ></circle>
      <circle
        cx="457"
        cy="633"
        r="18.5"
        fill="#000014"
        stroke="url(#paint0_linear_480_26)"
        stroke-width="13"
        class="svg-dots__dot svg-dots__dot-2"
      ></circle>
      <circle
        cx="857"
        cy="349"
        r="18.5"
        fill="#000014"
        stroke="url(#paint1_linear_480_26)"
        stroke-width="13"
        class="svg-dots__dot svg-dots__dot-3"
      ></circle>
      <circle
        cx="1285"
        cy="25"
        r="18.5"
        stroke="#0194D5"
        stroke-width="13"
        class="svg-dots__dot svg-dots__dot-4"
      ></circle>
      <defs>
        <linearGradient
          id="paint0_linear_480_26"
          x1="431"
          y1="649"
          x2="487.5"
          y2="622"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#C9E8F6"></stop>
          <stop offset="1" stop-color="#BAE2F4"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_480_26"
          x1="840.5"
          y1="371"
          x2="881.5"
          y2="334.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#52B6E2"></stop>
          <stop offset="1" stop-color="#45B1E0"></stop>
        </linearGradient>
      </defs>
    </svg>
    <div class="line-graph__years">
      {% for data in page_opportunity_kilowatts.line_graph %}
      <div
        class="line-graph__years-column column-{{loop.index}}"
        data-stat="{{data.kw_count}} KW"
      >
        <h3 class="line-graph__years-year graph-section__graph-year">
          {{ data.year }}
          <span class="sr-only">{{ data.kw_count }} Kilowatts</span>
        </h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
