---
layout: app
path: opportunity

title: Join Sunder | Opportunity
description: Sample description // CHANGE ME

# master props
header_fixed: false
header_logo_color: dark
show_header_cta: true
footer_gradient: site-footer--sunder-colors
---

<section class="hero">
  <h1 class="h1 hero__title">{{ page_opportunity_hero.heading }}</h1>

  <picture class="hero__picture">
    <source
      srcset="{{ page_opportunity_hero.hero_img_sm }}"
      media="(max-width: 1024px)"
      type="image/webp"
    />
    <source
      srcset="{{ page_opportunity_hero.hero_img_lg }}"
      media="(min-width: 1025px)"
      type="image/webp"
    />
    <img
      class="hero__img"
      src="{{ page_opportunity_hero.hero_img_lg }}"
      alt=""
      loading="lazy"
      fetchpriority="low"
      width="480"
      height="480"
    />
  </picture>
  <div class="hero__backdrop" aria-hidden="true"></div>
</section>

<section class="quotes-section" id="quotes-section">
  <h2 class="sr-only">
    <!-- prettier-ignore -->
    {% if page_opportunity_quotes.section_title %}
      {{ page_opportunity_quotes.section_title }}
    {% else %}
      Insights from our leaders
    {% endif %}
  </h2>

  {% for quote in page_opportunity_quotes.quotes %}
  <div class="quote-block">
    <figure class="quote-block__figure">
      <img
        class="quote-block__figure-img"
        src="{{ quote.img }}"
        alt=""
        width="360"
        height="360"
      />
      <figcaption class="quote-block__figure-caption">
        <span class="quote-block__figure-caption__name-first">
          {{ quote.name_first }}
        </span>
        <span class="quote-block__figure-caption__name-last">
          {{ quote.name_last }}
        </span>
        <span class="quote-block__figure-caption__role">
          {{ quote.role }}
        </span>
      </figcaption>
    </figure>
    <div class="quote-block__quote">
      <h3 class="quote-block__quote-title">{{ quote.quote_title }}</h3>
      <blockquote class="quote-block__quote-actual">
        “{{ quote.quote }}”
      </blockquote>
    </div>
  </div>
  {% endfor %}
</section>

<section class="sunder-definition" id="sunder-definition">
  <div class="sunder-definition__pin">
    <h2 class="sunder-definition__title">
      <span
        class="sunder-definition__title-scrub sunder-definition__title-scrub-1"
      >
        We are the <br aria-hidden="true" />
        leaders
      </span>
      <span
        class="sunder-definition__title-scrub sunder-definition__title-scrub-2"
      >
        in the solar <br aria-hidden="true" />
        industry
      </span>
    </h2>
    <button
      class="sunder-definition__video tab-element-page"
      aria-pressed="false"
    >
      <h3 class="sunder-definition__video-title">
        {{ page_opportunity_definition.video_title}}
      </h3>
      <span class="sunder-definition__video-icon">
        <span class="sunder-definition__video-icon-img"></span>
        <span class="sunder-definition__video-icon-img"></span>
      </span>
      <video
        class="sunder-definition__video-actual"
        poster="{{ page_opportunity_definition.video_img }}"
        src="{{ page_opportunity_definition.video_src }}"
        type="video/mp4"
        preload="none"
        width="850"
        aria-label="{{ page_opportunity_definition.video_transcript }}"
      ></video>
    </button>
  </div>
</section>

<section class="sunder-growth">
  <h2>Growth History</h2>
</section>

<section class="sunder-bar-graph graph-section">
  <h2 class="graph-section__title h3">{{page_opportunity_salesforce.title}}</h2>

  <div class="bar-graph graph-section__graph" role="region">
    {% for bar in page_opportunity_salesforce.bar_graph %}
    <div class="bar-graph__block gsap-animate">
      <div class="bar-graph__bar" style="--bar-height: {{ bar.height }};">
        <h4 class="bar-graph__bar-caption">{{ bar.caption }}</h4>
      </div>
      <h3 class="bar-graph__year h5">{{ bar.year }}</h3>
    </div>
    {% endfor %}
  </div>
</section>

<section class="sunder-line-graph graph-section">
  <h2 class="sunder-bar-graph__title h3">
    Kilowatts
    <br aria-hidden="true" />
    Installed
  </h2>
</section>
