---
layout: app
path: resources

title: Join Sunder | Resources
description: Discover the tools and support to help you thrive at Sunder. From insights into our executive team to the powerful Enzy Performance App, everything you need to grow and succeed is at your fingertips.

# master props
header_fixed: false
header_logo_color: dark
show_header_cta: true
footer_gradient: site-footer--enzy-colors
---

<section class="hero">
  <div class="hero__caption">
    <h1 class="hero__title">{{ page_resources_hero.heading }}</h1>
    <p class="h4 hero__subtitle">
      {{ page_resources_hero.subheading.static_text }}

      <!-- prettier-ignore -->
      {% if page_resources_hero.subheading.floating_text_1 %}
      <span class="floating-text floating-text-1">
        {{ page_resources_hero.subheading.floating_text_1 }}
      </span>
      {% endif %}

      <!-- prettier-ignore -->
      {% if page_resources_hero.subheading.floating_text_2 %}
      <span class="floating-text floating-text-2">
        {{ page_resources_hero.subheading.floating_text_2 }}
      </span>
      {% endif %}
    </p>
  </div>

  <div class="image-group">
    {% for img in page_resources_hero.hero_images %}
    <img
      class="image-group__image image-group__image-{{ loop.index }}"
      src="{{ img.src }}"
      alt="{{ img.alt }}"
      width="570"
      height="860"
      loading="{% if loop.index == 1 %}eager{% else %}lazy{% endif %}"
    />
    {% endfor %}
  </div>
</section>

<section class="meet-the-team">
  <div class="pinned">
    <h2 class="slot-text" aria-label="Meet the Sunder executive team.">
      <span aria-hidden="true">Meet the</span>
      <span class="slot-text__slider" aria-hidden="true">
        <span class="slot-text__slider-inner">Sunder</span>
        <span class="slot-text__slider-inner">Executive</span>
      </span>
      team
    </h2>
  </div>

  <div class="team-portraits" id="team-portraits">
    {% for img in page_resources_team.portraits %}
    <figure class="figure gsap-animate">
      <img
        class="figure__img"
        src="{{ img.src }}"
        alt=""
        width="320"
        height="480"
        loading="lazy"
      />
      <figcaption class="figure__caption">
        <span class="figure__caption-name">{{ img.name }}</span>
        <span class="figure__caption-role">{{ img.role }}</span>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>

<section class="enzy" id="enzy">
  <div class="enzy-hero">
    <h2 class="sr-only">{{ page_resources_enzy.enzy_hero.section_heading }}</h2>
    <div class="enzy-hero__caption">
      <img
        class="enzy-logo"
        src="{{ page_resources_enzy.enzy_hero.enzy_logo }}"
        alt="enzy logo"
        loading="lazy"
        width="380"
        height="112"
      />
      <!-- prettier-ignore -->
      {% set enzy_styles = 'cta--enzy' %}
      {% set cta_vid_embed = page_resources_enzy.enzy_hero.video_embed %}
      {% include "./_includes/components/cta-video.njk" %}
    </div>

    <figure class="enzy-hero__figure">
      <img
        src="{{ page_resources_enzy.enzy_hero.hero_img }}"
        alt="{{ page_resources_enzy.enzy_hero.alt }}"
        loading="lazy"
        width="500"
        height="480"
      />
      {% if page_resources_enzy.enzy_hero.caption %}
      <figcaption class="enzy-hero__figure-caption" aria-hidden="true">
        {{ page_resources_enzy.enzy_hero.caption }}
      </figcaption>
      {% endif %}
    </figure>

    <!-- prettier-ignore -->
    {% set enzy_styles = 'cta--enzy' %}
    {% set cta_vid_embed = page_resources_enzy.enzy_hero.video_embed %}
    {% include "./_includes/components/cta-video.njk" %}
  </div>

  <div class="enzy-features">
    <h2 class="sr-only">Enzy’s features</h2>
    {% for perk in page_resources_enzy.enzy_perks %}
    <div class="feature-block gsap-animate">
      <img
        class="feature-block__img"
        src="{{ perk.img }}"
        alt=""
        loading="lazy"
        width="380"
        height="596"
      />
      <div class="feature-block__caption">
        <h3 class="feature-block__caption-title">{{ perk.title }}</h3>
        <h4 class="feature-block__caption-description">{{ perk.subtitle }}</h4>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
