---
layout: app
path: resources

title: Join Sunder | Resources
description: Sample description // CHANGE ME

# master props
header_fixed: false
header_logo_color: dark
show_header_cta: true
---

<section class="hero">
  <div class="hero__caption">
    <h1 class="hero__title">{{ page_resources_hero.heading}}</h1>
    <p class="h4 hero__subtitle">
      {{ page_resources_hero.subheading.static_text }}

      <!-- prettier-ignore -->
      {% if page_resources_hero.subheading.floating_text_1 %}
      <span class="floating-text floating-text-1">
        {{ page_resources_hero.subheading.floating_text_1 }}
      </span>
      {% endif %}

      <!-- prettier-ignore -->
      {% if page_resources_hero.subheading.floating_text_2 %}
      <span class="floating-text floating-text-2">
        {{ page_resources_hero.subheading.floating_text_2 }}
      </span>
      {% endif %}
    </p>
  </div>

  <div class="image-group">
    {% for img in page_resources_hero.hero_images %}
    <img
      class="image-group__image image-group__image-{{ loop.index }}"
      src="{{ img.src }}"
      alt="{{ img.alt }}"
    />
    {% endfor %}
  </div>
</section>

<section class="meet-the-team">
  <div class="pinned">
    <h2 class="slot-text">
      Meet the
      <span class="slot-text__slider">
        <span class="slot-text__slider-inner">Sunder</span>
        <span class="slot-text__slider-inner">Executive</span>
      </span>
      team
    </h2>
  </div>

  <div class="team-portraits" id="team-portraits">
    {% for img in page_resources_team.portraits %}
    <figure class="figure">
      <img
        class="figure__img"
        src="{{ img.src }}"
        alt=""
        aria-labelledby="caption-{{ loop.index }}"
      />
      <figcaption class="figure__caption" id="caption-{{ loop.index }}">
        <span class="figure__caption-name">{{ img.name }}</span>
        <span class="figure__caption-role">{{ img.role }}</span>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>

<section class="enzy" id="enzy">
  <div class="enzy-hero">
    <div class="enzy-hero__caption">
      <img class="enzy-logo" src="{{ page_resources_enzy.enzy_logo }}" alt="" />
      <!-- prettier-ignore -->
      {% set enzy_styles = 'cta--enzy' %}
      {% set cta_vid_embed = page_resources_enzy.video_embed %}
      {% include "./_includes/components/cta-video.html" %}
    </div>

    <figure class="enzy-hero__figure">
      <img
        src="{{ page_resources_enzy.hero_img }}"
        alt=""
        aria-describedby="enzy-hero-img"
      />
      <figcaption id="enzy-hero-img">
        {{ page_resources_enzy.caption }}
      </figcaption>
    </figure>

    <!-- prettier-ignore -->
    {% set enzy_styles = 'cta--enzy' %}
    {% set cta_vid_embed = page_resources_enzy.video_embed %}
    {% include "./_includes/components/cta-video.html" %}
  </div>

  <div class="enzy-features">
    {% for perk in page_resources_enzy.enzy_perks %}
    <div class="feature-block">
      <img class="feature-block__img" src="{{ perk.img }}" alt="" />
      <div class="feature-block__caption">
        <h2>{{ perk.title }}</h2>
        <p>{{ perk.subtitle }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
