{% if header_fixed is not none %}
<header
  class="site-header {% if header_fixed == true %}site-header--fixed{% endif %}"
>
  <a class="site-header__logo tab-element-page" href="/">
    <img
      class="site-header__logo-img"
      src="/static/img/logo-{{ header_logo_color }}.svg"
      alt="sunder logo"
      width="150"
      height="35"
    />
  </a>

  <div class="site-header__cta-wrapper">
    <!-- prettier-ignore -->
    {% if show_header_cta %} 
      {% set cta_type = 'dark' %}
      {% include '../components/cta.njk' %}
    {% endif %}
  </div>
</header>
{% endif %}
