<button
  class="nav-btn"
  aria-controls="site-nav"
  aria-expanded="false"
  aria-label="Open navigation menu"
>
  <span class="line line-default line-default-1"></span>
  <span class="line line-default line-default-2"></span>
  <span class="line line-default line-default-3"></span>
  <span class="line line-close line-close-1"></span>
  <span class="line line-close line-close-2"></span>
</button>

<nav class="site-nav" id="site-nav" aria-label="Site navigation">
  <div class="nav-slider">
    {% for link in navigation.nav_links %}
    <a
      class="nav-link tab-element-nav {% if path == link.title | lower %}nav-link--active-page{% endif %}"
      href="{{link.url}}"
    >
      <span>{{link.title}}</span>
      <picture>
        <source
          srcset="{{link.mobile_image}}"
          media="(max-width: 1024px)"
          type="image/webp"
        />
        <source
          srcset="{{link.desktop_image}}"
          media="(min-width: 1025px)"
          type="image/webp"
        />
        <img
          class="nav-link__img"
          src="{{link.desktop_image}}"
          alt=""
          loading="eager"
          fetchpriority="low"
          width="320"
          height="180"
        />
      </picture>
    </a>
    {% endfor %}
  </div>
</nav>

<div class="site-nav__extra">
  <a class="site-nav__extra-logo tab-element-nav" href="/">
    <img
      class="site-nav__extra-logo-img"
      src="/static/img/logo-dark.svg"
      alt="sunder logo"
      width="150"
      height="35"
    />
  </a>

  <p class="sr-only site-nav__extra-credits">
    Website made by
    <a
      class="classic-link tab-element-nav"
      href="https://aarongarciacreative.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Aaron Garcia
    </a>
    <!-- and
    <a
      class="no-click classic-link tab-element-nav"
      href="https://axyscreative.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      AXYS Creative
    </a> -->
  </p>

  {% if navigation.social_media_toggle %}
  <div class="site-nav__extra-social">
    {% for link in navigation.social_media %}
    <a
      class="social-media-link"
      href="{{ link.url }}"
      aria-label="{{ link.title }}"
    >
      <span class="sr-only">{{ link.title }}</span>
      <span
        class="social-media-link__img"
        style="mask-image: url({{ link.src }}); background-color: {{ link.color }};"
      ></span>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
