<button
  class="nav-btn"
  aria-controls="site-nav"
  aria-expanded="false"
  aria-label="Open navigation menu"
>
  <span class="line line-default line-default-1"></span>
  <span class="line line-default line-default-2"></span>
  <span class="line line-default line-default-3"></span>
  <span class="line line-close line-close-1"></span>
  <span class="line line-close line-close-2"></span>
</button>

<nav class="site-nav" id="site-nav">
  <div class="nav-slider">
    <a href="/">
      Home
      <img src="/src/static/img/nav-home.webp" alt="" />
    </a>
    <a href="/opportunity">
      Opportunity
      <img src="" alt="" />
    </a>
    <a href="/compete">
      Compete
      <img src="" alt="" />
    </a>
    <a href="/experience">
      Experience
      <img src="" alt="" />
    </a>
    <a href="/resources">
      Resources
      <img src="" alt="" />
    </a>
  </div>
</nav>
