<button
  class="nav-btn"
  aria-controls="site-nav"
  aria-expanded="false"
  aria-label="Open navigation menu"
>
  <span class="line line-default line-default-1"></span>
  <span class="line line-default line-default-2"></span>
  <span class="line line-default line-default-3"></span>
  <span class="line line-close line-close-1"></span>
  <span class="line line-close line-close-2"></span>
</button>

<nav class="site-nav" id="site-nav">
  <div class="nav-slider">
    <a class="nav-link tab-element-nav" href="/">
      Home
      <img class="nav-link__img" src="/static/img/nav-home.webp" alt="" />
    </a>
    <a class="nav-link tab-element-nav" href="/opportunity">
      Opportunity
      <img
        class="nav-link__img"
        src="/static/img/nav-opportunity.webp"
        alt=""
      />
    </a>
    <a class="nav-link tab-element-nav" href="/compete">
      Compete
      <img class="nav-link__img" src="/static/img/nav-compete.webp" alt="" />
    </a>
    <a class="nav-link tab-element-nav" href="/experience">
      Experience
      <img class="nav-link__img" src="/static/img/nav-experience.webp" alt="" />
    </a>
    <a class="nav-link tab-element-nav" href="/resources">
      Resources
      <img class="nav-link__img" src="/static/img/nav-resources.webp" alt="" />
    </a>
  </div>
</nav>
